[2016-01-25 21:57] jalchr opened #1 "Any scheduled release date ?"
Hi,
Thanks for building a native .net driver for neo4j. Its more exciting to see that it is built for version 3.0.
Can we expect, hopefully, to see it released along the production version of neo4j?

Thanks,

[2016-02-01 15:21] zhenlineo commented on #1
Yes, the driver would be release along with neo4j-3.0 (or shortly a few day after). A few pre-releases are coming soon if you would like to try it out before 3.0 :)

[2016-02-10 16:20] cskardon commented on #1
You can try the M01 release via Nuget (https://www.nuget.org/packages/Neo4j.Driver)

[2016-02-13 11:15] jalchr commented on #1
sure I'll try it ... great  work guys

[2016-02-13 11:15] #1 closed

[2016-03-19 17:12] IngvarKofoed opened #25 "Unittests made with MSTest which is not supported in Xamarin"
I suggest using NUnit instead of MSTest for the unittest projects. This would make it possible for developers to open and run tests using Xamarin when developing on non Windows platforms.

If you agree, then I can make a pull request where the projects have been changed to use NUnit and tested in both Visual Studio and Xamarin :)

[2016-03-19 21:57] cskardon commented on #25
It's using XUnit, not MSTest? Doesn't xunit work with xamarin? A brief search on google shows that it should...

Are you opening the project in xamarin studio?

[2016-03-20 06:51] IngvarKofoed commented on #25
The problems is that the projects are created within Visual Studio so they will get an "Test" project type and Xamarin Studio can't handle this and will not load the project. The solution is to change the project type from MSTest project to NUnit project.

Yes, I open the solution in Xamarin Studio: http://imgur.com/VGH1HTO

More information about it here: https://forums.xamarin.com/discussion/220

[2016-03-20 08:09] cskardon commented on #25
Right, so you don't need to change to nunit, just remove the test guid from the csproj?

[2016-03-20 08:11] IngvarKofoed commented on #25
That will fix the issue in XS. Ill try that and test how that works in VS and if it works, then create a PR :)

[2016-03-20 13:48] cskardon commented on #25
I'm pretty certain that all it does is not show the test 'icon', so it should work fine!

[2016-03-20 18:21] IngvarKofoed commented on #25
Yeah, I was hoping for the same thing, but it was not as easy. I had to create new projects because that Guid was not the only thing that made it not compile in Xamarin on OSX. I have all things compiling and all unittest working. Im working on running integration tests.

Some of the unittests fails because of Windows locale settings. Ill also fix those.

[2016-03-21 09:14] IngvarKofoed opened #28 "Can't run integration unittests"
I have spend several hours trying to get the integration unittests to work. I'm running on a clean Windows 10 with Visual Studio 2015 Community and JRE 8. I'm running both VS, cosole and PS as administrator.

I have tracked down the issue to when the PS scripts tries to start the neo4j servies by debugging the unittest. Then I tried running the PS scripts manually and got the same error. Here is t

[2016-03-22 09:25] zhenlineo commented on #28
Hello, I looked into your problem yesterday and it seems you have some problem with `Write-Error` command used in our powershell script. The build also have some problem to use the recent powershell script so I am also wondering if I should just switch to use the bat file instead to avoid these changes to disturb the normal driver code. I am working on this problem and I will come back to you once

[2016-03-22 10:25] IngvarKofoed commented on #28
Thanks for you feed back! Using the BAT file might fix the issues I have seen :)

As you might have seen by now, I have created a PR that does not use PS or the Windows Service for running the Neo4j server. I have tested this on 3 Window PCs and worked on them all - When using the original code, integration tests did not work on any of the 3 PCs. You can consider using this when not running on the

[2016-03-24 14:23] zhenlineo commented on #28
https://github.com/neo4j/neo4j-dotnet-driver/pull/33

[2016-03-24 15:34] zhenlineo commented on #28
As the pr is already merged in, I will close this issue now.
Feel free to reopen it when you got problem again,

[2016-03-24 15:34] #28 closed

[2016-03-25 20:16] IngvarKofoed commented on #25
This can be closed if PR #35 is merged :)

[2016-03-26 16:11] IngvarKofoed opened #38 "Namespaces and internals"
The things below are just my opinion, but I hope you will read it and think about it :) Also I apologies for creating this as an issue, but this is the only way on Github.

I think you should think more about which types are internal and which are public. Only make types public if the client of the code needs to know about them. Examples of types that currently are public but maybe should be inter

[2016-03-27 08:17] IngvarKofoed opened #39 "IStatementResult needs to be IDisposable because of IPeekingEnumerator"
I think you should reconsider if IStatementResult _has_ to be IDisposable because it makes the client code that uses the Neo4j driver more complex and possible needless harder to use.

I suggest to refactor the IPeekingEnumerator or the use of it so IStatementResult does not have to be IDisposable to make the user code less complex.

If you agree, Ill be happy to make a PR for a suggestion on how

[2016-03-27 08:19] IngvarKofoed opened #40 "All public types should be documented"
When #38 has been resolved, then all public types should be documented to make the driver more user friendly and help developers not make less mistakes and use lesser time on getting starting with the driver.

[2016-03-27 08:22] IngvarKofoed opened #41 "Internals in MessageResponseHandler for testing only is a code smell"
The class `MessageResponseHandler` : https://github.com/neo4j/neo4j-dotnet-driver/blob/1.0/Neo4j.Driver/Neo4j.Driver/Internal/Connector/MessageResponseHandler.cs
Has the following internals:

[code]

This is a code smell that the OOP design is not complete and I think this should be refactored so that there is no need for internals for testing.

If you agree Ill happily create a PR for how to fix

[2016-03-30 11:50] zhenlineo commented on #38
Thanks so much for this feedback I actually did not know the use of public/internal is so strict in dotnet.

We initially designed to be:
- The classes that belongs to the public API are the ones in the root namespace, and exception namespace. (all the classes with proper comments)
- The users should not implement or extend any of the public interfaces or classes except `ILogger`.

@cskardon What

[2016-03-30 12:08] zhenlineo commented on #41
Yes, if you have some good ideas to design it better, yes, please.
I would say this is a good improvement so I would suggest to target it at 1.1.

[2016-03-30 12:16] zhenlineo commented on #40
Oh, I replied in #38, all the classes/interfaces that we would like the user to use actually are doc properly (or at least with docs).
The dotnet API doc could be found [here](http://alpha.neohq.net/docs/dotnet-driver/html/f7d9eea1-5357-f1de-8a54-336a77141b6d.htm) in [alpha channel](http://alpha.neohq.net)
Also the API doc will also be moved to a public/formal place soon.

Let's revisit this issue

[2016-03-30 13:00] cskardon commented on #38
There is an argument either way for this, first off - I agree that `Throw` and all the extension method classes should be internal, no-one needs to see them.

The `internal` namespace issue is an interesting one - simply because the name is `internal` it does imply that the types inside will be `internal`. I guess the question is down to intentions, if the types are never meant to be seen by a use

[2016-03-30 17:36] IngvarKofoed commented on #38
Yes I agree with @cskardon that the most important thing is minimising the external footprint by using the `internal` keyword.

Regarding namespaces, I also think that they are not for whats internal and whats not internal. Namespaces are for grouping common types together and as a good guideline, the deeper the namespace (more dots) the more complex the types/code is. The idea behind this guideli

[2016-03-31 08:20] zhenlineo commented on #38
Alright. It would be interesting to know how you would like to restruct the driver.

[2016-03-31 08:24] IngvarKofoed commented on #38
Cool! Ill make a PR later today with a suggestion on how to I would do it :)

[2016-03-31 10:40] IngvarKofoed commented on #38
You can see my suggestion here: https://github.com/IngvarKofoed/neo4j-dotnet-driver/tree/1.0-internaling-types

I could not internal the BaseLogger and thats something I think needs to be fixed. I think the BaseLogger should not be inherited, but called (changing from composition to aggregation).

I removed the Internal from the root namespace because i do not think it makes much sense. Using the

[2016-03-31 10:55] IngvarKofoed commented on #38
Also, I could not find the type `IIdentity`, but it was listed on the documentation site. Is this a problem?

[2016-03-31 16:52] IngvarKofoed opened #45 "Four integration tests are failing on 1.0"
Not sure why this is started. But if I clone a clean and fresh version of the driver, compile it from VS and run the unittests and integration tests. I have not changed anything on my system. Is using a VM only for Neo4j driver development and nothing else. So really not sure why thing has started to happen. Then 2 tests fails with the following:

[code]

If I try to fix the first failing test (`S

[2016-03-31 17:30] IngvarKofoed commented on #45
It seems that the commit https://github.com/neo4j/neo4j-dotnet-driver/commit/a6694dd7c0a919d4572b848d1c4209fde248a77b fixes all my issues :)

[2016-03-31 18:42] IngvarKofoed commented on #45
I have apparently failed to notice that the integration tests uses a nightly build of the Neo4j server and this explains why it could stop work on my VM without any changes :)

[2016-04-01 08:18] zhenlineo commented on #45
So glad you figured it out.
As you said, there are some changes in the server where they breaks the auth file location. But that is a bug and need to be fixed on server. The driver is affected but nothing should be fixed for the driver.

The reason we use snapshots/nightly build is because both the server and driver are still under construction. The link in driver's 1.0 branch will be changed once

[2016-04-01 08:32] zhenlineo commented on #45
My fix is a temp hack. please wait for this PR https://github.com/neo4j/neo4j/pull/6829 get merged.

[2016-04-04 07:40] IngvarKofoed commented on #38
For 1.0 I think we should take only this commit: https://github.com/IngvarKofoed/neo4j-dotnet-driver/commit/93c3ccfa017ee6f2b78196136081b34e867743fe

The commit where all non public types are made internal with the internal keyword and Neo4j exceptions are moved to root namespace for easy usage. This will ensure that no non-public types are used/inherited by client code. This is important because

[2016-04-04 19:00] amcdnl opened #52 ".NET Core Support?"
Is there any plans for [.NET Core](https://dotnet.github.io/) support?

[2016-04-05 11:24] IngvarKofoed commented on #38
PR #53 created :)

[2016-04-06 08:07] zhenlineo commented on #52
Yes, but not the first release. We are planing targeting .net-core for Neo4j 3.1.

[2016-04-06 13:54] zhenlineo commented on #39
I would close this issue as we have discussed on https://github.com/neo4j/neo4j-dotnet-driver/pull/50 and the PR now has been merged.
Pls be free to re-open this issue if you feel there is more to discuss.

[2016-04-06 13:54] #39 closed

[2016-04-06 13:56] zhenlineo commented on #45
Close this issue thread as the PR  neo4j/neo4j#6829 get merged and the tests of this driver are back to green. Though we might re-encounter this problem again but then it would probably be another different error. So close this now and be free to re-open new ones when you have problem to run tests.

[2016-04-06 13:56] #45 closed

[2016-04-06 14:22] zhenlineo commented on #38
I moved LoggerBase from Driver in https://github.com/neo4j/neo4j-dotnet-driver/pull/54/commits/12d81b0b2f5380f18bbf6d47361837d111187e57

[2016-04-06 15:46] amcdnl commented on #52
What kind of timeline would you expect for that release?

[2016-04-07 07:55] zhenlineo commented on #52
Autumn or early winter this year according to the current plan :)

[2016-04-07 08:10] zhenlineo commented on #38
Closing this as the PR #54 get merged. Moving to revisit the public API docs soon.

[2016-04-07 08:10] #38 closed

[2016-04-07 12:27] amcdnl commented on #52
@zhenlineo Thanks for feedback! Given the dotnet audience that would be using neo4j I'm surprised this isn't in sync with the release of 3.0. We are using dotnet core in our production app already and have hard dependencies on our db drivers ( neo and mongo ) that prevent us from going full x-platform.

[2016-04-14 09:51] zhenlineo commented on #52
We are considering to support dotnet core. The main concern right now is that the dotnet core is not fully release. We would like to support dotnet core after it has been released fully.

I will keep this issue open until we fix it. Also I will keep you updated here of our work towards dotnet core support.

Thanks again for bringing this issue to us.

[2016-04-15 14:38] zhenlineo commented on #40
The docs are updated with all public class documented now [dotnet-api-doc](http://alpha.neohq.net/docs/dotnet-driver)

[2016-04-20 15:02] zhenlineo commented on #40
Close this one as it is already resolved now

[2016-04-20 15:02] #40 closed

[2016-04-28 09:10] Gentlehag opened #70 "Session how big should be the scope"
When looking at the conecpt of a session. how long is it intended to exists?

for example when I import a lot of data, would I create one session covering the whole process ? Or should I create a session for each import step (e.g. each kind of node).

Furthermore is a session meant to be threadsafe?

As comparison I currently use the dotnet client nuget package and there I create one transaction f

[2016-04-28 11:16] zhenlineo commented on #70
Session is intended to be a long running connection with the server. The session is also designed to be re-useable. When we do `session.Dispose` is will not close the connection with the server but instead it would try to buffer the connection with the server by returning it to the `idle session pool`. So that is to say, it is really cheap to dispose the session. The max number of the sessions tha

[2016-04-28 11:27] zhenlineo commented on #70
And of course, dispose the session after your thread done with it to return it to the pool so that other threads could reclaim it.

[2016-04-30 20:10] simon-hardy opened #71 "Driver cannot handle Guid values"
Version used: 1.0.0

Error message:

Easiest way to replicate:

`txn.Run("CREATE (person:Person {name: {name}})", new Dictionary<string, object> { { "name", Guid.NewGuid() } });`

[2016-04-30 20:22] technige commented on #71
Guid is not a valid Neo4j type. You will have to convert this to a string to be able to store it.

[2016-04-30 20:38] simon-hardy commented on #71
Should that not be the responsibility of the driver?

Seems like something everyone would want or expect to me.

For comparison, Neo4jClient already handles this type conversion implicitly.

[2016-05-01 10:54] simon-hardy opened #72 "Driver cannot handle DateTime values"
Version used: 1.0.0

Error message:

Easiest way to replicate:

`txn.Run("CREATE (person:Person {name: {name}})", new Dictionary<string, object> { { "name", DateTime.Now } });`

[2016-05-01 10:55] simon-hardy opened #73 "Driver cannot Create Nodes from POCOs"
Self explanatory.

[2016-05-03 11:47] zhenlineo commented on #71
Thank you very much for this suggestion. We currently just support the basic types that Cypher supports. The mapping between the Cypher types and the language native types could be found in the [driver doc](http://neo4j.com/docs/developer-manual/3.0/index.html#types). The legal types for the generic type used in List and Dictionary are the language types that understand by Cypher types, e.g.

[cod

[2016-05-03 11:53] zhenlineo commented on #73
As you could find in the [driver doc](http://neo4j.com/docs/developer-manual/3.0/index.html#types), the Node, Path and Relationship are types that only valid for return values.

May I ask why do you need to create a `INode` object in your app? Could you give me an example that requires creation of a node explicitly?

[2016-05-03 12:28] #71 closed

[2016-05-03 15:13] IngvarKofoed commented on #73
Could you give a use case for it ?

[2016-05-04 08:09] #72 closed

[2016-05-09 13:07] malclear opened #75 ""The Neo4j Server doesn't support this client.""
I'm getting an error when trying to connect: "The Neo4j Server doesn't support this client." Debugging through the Neo4j.Driver code, I see the 'DoHandshake()' call to the TCPSocketClient is returning version value of "1213486160" instead of the expected "1".
I am using
-  Neo4J-CE, version 3.0.0.
- Neo4j.Server, version 1.0.0
- Windows 10 Pro, 64-bit

[2016-05-09 13:19] zhenlineo commented on #75
Aha, my collea told me that you get this error probably because you are trying to connect to the HTTP endpoint rather than the bolt endpoint. Are you using `bolt://localhost:7474`?

If so, please try `bolt://localhost:7687` instead. To use the driver, you should connect to the bolt endpoint. a.k.a. `bolt://localhost:7687` or just leave it to be `bolt://localhost`

[2016-05-11 00:54] malclear commented on #75
This is correct. I have it working now.
Thank you.

[2016-05-11 00:54] #75 closed

[2016-05-12 15:18] zhenlineo commented on #25
Some updates on this issue:

The PR is red due to some lib missing (.NET Framework 4.5.1 SDK) on teamcity windows machine. So working on the machine right now.

[2016-05-25 14:43] jmezach commented on #52
I've been working on porting this to .NET Core in my fork (https://github.com/jmezach/neo4j-dotnet-driver/tree/feature/net-core-support). Unfortunately I ran into an issue with the unit tests that fail occasionally, but that also seems to happen with the original code.

I traced the issue back to the **Neo4j.Driver.Internal.Packstream.PackStream.Unpacker** class which has a private static variable

[2016-05-25 14:49] amcdnl commented on #52
@jmezach you port to RC2 yet? TBH, I'd wait that release is a huge mess.

I know @dmikov was having issues with unit tests on other projects in .NET Core. Any ideas?

[2016-05-25 14:54] jmezach commented on #52
@amcdnl I'm porting to RC2 yes. So far it was quite straightforward, except for those failing unit tests. Don't think that's a .NET Core problem though, since they also fail if I check out the original 1.1 branch and build and run those tests.

[2016-05-25 14:55] technige commented on #52
We've made this point in various places previously but it's probably worth mentioning here again.

While anyone is of course welcome to experiment with .NET Core compatibility for the driver, we will not be merging in any of these changes or providing any .NET Core support ourselves until at least after MS have made a full release.

[2016-05-25 17:46] amcdnl commented on #52
@nigelsmall I sort of agree, at this point its so much chaos its not even worth it. **However**, I do think you need a development branch for this so community members can contribute and test.... otherwise you will end up with a bunch of forks with no one in alignment.

[2016-05-25 18:41] tugberkugurlu commented on #52
Definetely agree to what @amcdnl said. We don't look for official support. Just have it on a branch and preferably release it to myget.

[2016-05-25 19:14] technige commented on #52
You may personally be happy not to expect official support but if we host such code or make any such releases, someone somewhere _will_ expect it to be supported.

I'm genuinely sorry that this is not the answer that you want but we will add this eventually and in the meantime, I suggest a group of you get together to build and maintain a community fork.

[2016-05-25 19:30] amcdnl commented on #52
@nigelsmall a development branch with some disclaimer messages is pretty standard. I think we just want somewhere to all collaborate with your team in a community format, **if thats not the attitude your team has then why even post it on github?**

@jmezach I'd be happy to work with you on this, if you want to start your own project. @cskardon is also doing some interesting stuff with [Neo4J Clien

[2016-05-25 19:55] tugberkugurlu commented on #52
Just release it as pre-release on myget and state on readme file that pre-release packages are not officially supported. That's how all open source projects work. They have a some sort of pre-release channel.

[2016-05-25 21:01] dmikov commented on #52
@jmezach You probably did, but I will ask anyway. Did you put the inconsistent state of tests as an issue? And I am totally for support community or official fork of the driver. Have to check neo4j-client though, how far it is. Maybe the issue is moot with this one.

[2016-05-26 07:12] jmezach commented on #52
Wow, okay, I wasn't looking to unchain a discussion on the merits of open source and whether a .NET Core port is something that's desirable. I merely wanted to figure out why the unit tests are occasionally failing regardless of whether they are running on .NET Core or not ;). But I will put in a separate issue for the failing tests as @dmikov suggested.

[2016-05-26 07:26] jmezach opened #77 "Occasionally failing unit tests"
As previously discussed in #52 I see unit tests that are occasionally failing when I check out the 1.1 branch and repeatedly run the unit tests (from Visual Studio 2015).

The tests are failing with a *System.NullReferenceException*. The exceptions occur at different places but they all originate from the **Neo4j.Driver.Internal.Packstream.PackStream.Unpacker** class and are related to the *privat

[2016-05-26 09:52] zhenlineo commented on #77
I am thinking that you got the error probably because you were executing your tests concurrently. We got problems to run ITs concurrently against the server so we always run with `-parallel none` ([code](https://github.com/neo4j/neo4j-dotnet-driver/blob/1.1/Neo4j.Driver/RunUnitTests.bat))

I am not sure if we would fix the problem in unit tests as the ITs cannot run concurrently anyway (they need

[2016-05-26 09:57] zhenlineo commented on #73
I am closing this issue as the problem the issue wants to address is unclear. Please be free to reopen this issue if you get a better explanation or example of the problem you are having.

[2016-05-26 09:57] #73 closed

[2016-05-26 11:43] amcdnl commented on #52
@jmezach I msg'd you on gitter. would love to collab.

[2016-05-26 11:57] cskardon commented on #52
Hullo everyone!

Wow - some big issues raised here, well played @jmezach!

Leaving the actual issue aside as to whether support of net core is forthcoming or not - the can of worms that appears to have been opened seems to be about a bit of a difference of opinion as to what Open Source means, and how a repo should be maintained with regards to that.

From my point of view (and I appreciate it won

[2016-05-26 12:40] technige commented on #52
Thanks @cskardon - that's a great overview.

On the subject of community collaboration (for anyone who has not already been made aware) we have chatted internally and will be creating a fork of the driver in https://github.com/neo4j-contrib - more to follow on this shortly.

[2016-05-26 13:01] amcdnl commented on #52
I tend to disagree w/ many of your points @cskardon ( although you are a rockstar and we collab a lot ;) )

### Fragmentation

Having tons of different forks and open-source projects is great, but wouldn't it be great if we could all collaborate in a somewhat official manner on the same project? Instead of duplication of work, we all put our heads together and advance it for the greater good. To m

[2016-05-26 13:56] technige commented on #52
There is now a contributors repository available for experimentation with .NET Core. This can be found at -> https://github.com/neo4j-contrib/neo4j-dotnetcore-driver.

**Please note that this repository is not supported by Neo Technology.**

Closing this thread now so that activity can continue there.

[2016-05-26 13:56] #52 closed

[2016-05-26 14:07] jmezach commented on #77
I tried to run the tests again without running them in parallel, but they still seem to fail sometime:

![image](https://cloud.githubusercontent.com/assets/1225489/15577206/ccbf5e2c-235b-11e6-86a2-c62a1c21efc6.png)

Running them in parallel doesn't seem to make the matter worse.

[2016-05-26 14:26] zhenlineo commented on #77
ummm... may I ask what tool you are using to run these tests? I use reshaper and apparently there is no way to configure to not run in parallel. I would like to try the tool you are using.

[2016-05-26 14:29] jmezach commented on #77
I'm using the built-in Visual Studio test runner. I only installed the xunit.runner.visualstudio NuGet package to get them to show up there.

[2016-05-26 15:16] zhenlineo commented on #77
Okay, good to know such a tool.

So I could also reproduce the null exception locally with resharper unit test tool. I looked in the code where a test failed with null exception. However the failure does not make any sense to me as the test itself `new`s a bitConverter. Therefore I doubt the problem could be running concurrently where two tests try to new and set the static field for `Unpacker` ob

[2016-05-27 06:37] jmezach commented on #77
I changed the static field to a normal instance variable and then ran the tests a couple of times and they don't seem to be failing anymore.

[2016-05-27 15:32] zhenlineo commented on #77
It turns out to be a bug, the fix -> https://github.com/neo4j/neo4j-dotnet-driver/pull/80

Thanks so much to bring up this issue!
The PR would be merged next week after pair review to make sure I fixed it properly.

[2016-06-08 15:11] drgraduss opened #81 "Any plans on async operations?"
I wonder if there are any plans implementing async operations like `session.RunAsync(..)` etc.

[2016-06-08 22:13] jexp commented on #52
Hey @amcdnl @dmikov @jmezach @tugberkugurlu

I would have expected you would want to collaborate on and contribute to:

https://github.com/neo4j-contrib/neo4j-dotnetcore-driver

Today someone was looking for a .Net Core variant of the driver and I hoped to be able to point them to your joint work? Please let us know if you intend to work on the .Net Core support. If not in the repo in neo4j-contri

[2016-06-09 11:10] shift-evgeny opened #83 ""Expected X, but got Y" exception when reading results"
Using the latest code on the 1.0 branch I tried returning all nodes, like this:
[code]

Every time I get an exception like this:
[code]

(The numbers differ from run to run.)

[2016-06-09 11:59] zhenlineo commented on #83
While I am finding a big database to test, could you help me to verify these questions:

Do you have the problem without this change https://github.com/neo4j/neo4j-dotnet-driver/pull/74, aka, with this line
`var chunkSize = _bitConverter.ToUInt16(_headTailBuffer);`
 revert back to `var chunkSize = _bitConverter.ToInt16(_headTailBuffer);`
Do you have the problem with 1.0.0?

Thanks in advance.

[2016-06-09 12:14] zhenlineo commented on #81
Not yet. Async might require some protocol changes too. But we are not in that far at this moment. It is a good to have feature for sure.

[2016-06-09 12:21] shift-evgeny commented on #83
Yes, the problem happens with 1.0.0. I get the same error if I change that line to `var chunkSize = _bitConverter.ToInt16(_headTailBuffer);`

[2016-06-09 12:55] zhenlineo commented on #83
This might be a packstream bug. We have not seen it before.

May I ask if you data is not so sensitive that you could turn on logging and give us the debug log near the error?

So the debug trace would be something like:

[code]

The meaning of the few lines are explained after ->

[code]

So if this leak of information is okay for you, would you please turn on logging like this example code:
http

[2016-06-09 13:08] drgraduss commented on #81
@zhenlineo  thanks for reply!

[2016-06-09 13:08] #81 closed

[2016-06-09 13:29] shift-evgeny commented on #83
OK, I've enabled logging. To do this I had to hack BaseOutLogger to make it public and then inherit from it myself to write the output via log4net. It generated a 422 MB log file, which would never have worked via Debug.WriteLine(). So - as a separate issue - this driver really needs better built-in logging support, i.e. something that can write to a file without such hacks.

Anyway, here's the en

[2016-06-09 14:02] zhenlineo commented on #83
Thanks a lot!

Might be missing a while loop here:
https://github.com/neo4j/neo4j-dotnet-driver/blob/1.1/Neo4j.Driver/Neo4j.Driver/Internal/Connector/SocketExtensions.cs#L30

Working on tests to verify now.

P.S. The debug logging is not really supported officially. I am super happy you figured out how to inject the logging into your logging system! That's the design that we leave the logging hook

[2016-06-09 16:06] zhenlineo commented on #83
I merged a fix, let me know if your problem get solved with the new change to 1.0

[2016-06-10 08:47] shift-evgeny commented on #83
Thank you, I'm not longer getting the error with this fix.

[2016-06-10 08:47] #83 closed

[2016-06-10 08:48] shift-evgeny opened #85 "Very high memory usage when loading MATCH results"
With #83 fixed `session.Run("MATCH (n) RETURN n")` ran to completion, but it used 11.4 GB RAM by the end. That seems like far too much considering that the original CSV data was only about 700-800 MB. The database contained just under 10M nodes, each with 3 string properties and 1 int property. (The Neo4j server process used 3.5 GB RAM, by the way, which still seems like a lot.)

[2016-06-10 08:54] shift-evgeny opened #86 "Stream results of Session.Run() instead of preloading them all"
When running `session.Run("MATCH (n) RETURN n")` the driver seems to preload all results into memory before returning any of them. Even without the high memory usage (#85) this would make it impractical for working with many rows. I would expect `Run()` to return as soon as the first result is available and then load the results from the server as the caller enumerates over the returned `IStatemen

[2016-06-10 08:58] zhenlineo commented on #86
Yeah, it is a know bug in this driver, which we did streaming wrongly. It ends up with not streaming at all. We will try to fix this bug in the coming release.

Regarding the memory opt #85, this is indeed a good start point.

[2016-06-10 09:05] zhenlineo commented on #77
Closing this issue after the fix #80 merged. Please be free to re-open this card if you still have the problem.

[2016-06-10 09:05] #77 closed

[2016-06-10 15:54] drgraduss opened #87 "Proper DeadlockDetectedException handling"
Hi,

what would be a proper way of catching `DeadlockDetectedException`. I see `TransientException`. Does `TransientException.Code` contain actual neo4j error name which I can use? In this case `DeadlockDetectedException`.

Thanks

[2016-06-10 16:29] drgraduss commented on #87
I found that the actual code should be `Neo.TransientError.Transaction.DeadlockDetected`.

Could we introduce these error codes in the driver to be able to reference them?

[2016-06-12 08:54] courserahomework opened #88 "Exception on Neo4j.Driver.Internal.Connector.ChunkedInputStream.ReadSpecifiedSize- "Expected X got Y""
Fairly persistent issue but sometime it works without problems

Exception - "Error - Expect 471, but got 265"  where both # changes depending when I run the query. Using Driver v1 with Neo4j 3.0.1

**[My code]**
            using (var driver =
                GraphDatabase.Driver(
                    "bolt://server",
                    GetAuthToken()))
            {
                using (var ses

[2016-06-13 08:27] zhenlineo commented on #88
I am so sorry about this error. It has just been fixed in https://github.com/neo4j/neo4j-dotnet-driver/pull/84
I will try to release a new version this week to include the fix for it.
You might try to use the snapshot feed for now
`PM> Install-Package Neo4j.Driver -Version 1.0.0-SNAPSHOT-221`
or
`PM> Install-Package Neo4j.Driver -Version 1.1.0-SNAPSHOT-87`
(1.1 and 1.0 are the same till now)

Also

[2016-06-13 08:32] zhenlineo commented on #87
The driver needs the server to send the code first. Will investigate on this and come back to you. But expecting a bit longer waiting time than a normal driver only issue.

[2016-06-14 06:37] sachafaust commented on #88
Thank you for the prompt reply/fix. Unfortunately I get the following when trying to get the snapshot. Using Visual studio 2015.

Install-Package : Package 'Neo4j.Driver' is not found
At line:1 char:1
- Install-Package Neo4j.Driver -Version 1.1.0-SNAPSHOT-87
- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  - CategoryInfo          : NotSpecified: (:) [Install-Package], Exception

[2016-06-14 07:20] zhenlineo commented on #88
Have you add our myget feed into your VS? The snapshot feed was in the readme. Check this page https://myget.org/gallery/neo4j-driver-snapshots

[2016-06-14 07:25] zhenlineo commented on #88
Pls use snapshot-87 or snapshot-yymmddhhmm. As you could see, the numbering was wrong and I changed to date numbering yesterday. The old numbering artifacts will go away after a few days.

[2016-06-19 19:16] sachafaust commented on #88
Fix confirmed thank you. Any ETA on when this will be part of the main release?

[2016-06-23 09:20] zhenlineo commented on #70
Reading your question again. The session is not designed to be thread-safe. If you want to run concurrent operations against the database, simply create multiple sessions objects. Sharing a session in two threads is a bad idea.

Even if right now the session will run the cyphers sequentially, but your thread has to make sure no nested tx in this session.

So it is strongly recommended to use multi

[2016-06-28 08:08] zhenlineo commented on #88
Released [1.0.2](https://www.nuget.org/packages/Neo4j.Driver/)

[2016-07-01 09:41] zhenlineo commented on #88
I am closing this issue as the fix is already merged and released.

[2016-07-01 09:41] #88 closed

[2016-07-01 10:13] zhenlineo commented on #87
https://github.com/neo4j/neo4j/pull/7463
Also more work will follow to clarify what behaviour the driver would take after these errors, such as rollback tx, close session, etc. And also examples, recommendations for driver users will be added for how to deal with these error.
Sorry for a bit random right now.

[2016-07-01 12:17] mariomeyrelles opened #93 "Parse only the parameters needed to run statement"
Good morning Sirs,

Sometimes I have a type with many fields. And sometimes, it's much easier to just pass the type to the statement and execute the command.

The main problem is that the driver tries to read and parse all the parameters, even when I'm not using them on the query itself. For example, I want to create and user with **Id** as string and **name** as string. But the type itself also h

[2016-07-01 16:27] zhenlineo commented on #93
It is a nice idea to just pack the parameters that are needed. However the driver dose not do any Cypher parsing but just passes the Cypher to the server. So right now the driver is not clever enough to know what parameters are needed for the Cypher statement. Building a simple Cypher parser is not planned for drivers. So unfortunately we will not be able to only pack the parameters that are used

[2016-07-01 17:30] mariomeyrelles commented on #93
Sure... I totally understand the point and in fact, I moved to a dictionary-based solution and it worked well.

Thanks for you time :)

[2016-07-01 17:30] #93 closed

[2016-07-13 14:37] zhenlineo commented on #86
We brought streaming into 1.1 instead of 1.0 driver. 1.1.0-M01 is released recently with the first step towards streaming results [#96](https://github.com/neo4j/neo4j-dotnet-driver/pull/96) in. The follow-up work is [#97](https://github.com/neo4j/neo4j-dotnet-driver/pull/97) where unconsumed records would be buffered.

The current behaviour is almost the same as what you have suggested. `Run()` wi

[2016-07-22 20:42] mperrenoud opened #98 "Driver throwing Sockets exception"
I have an ASP.NET Core project setup and I'm trying to get connected to my Neo4j server. I have the following references:

    "dependencies": {
      "Microsoft.AspNetCore.Mvc": "1.0.0",
      "Microsoft.AspNetCore.Server.IISIntegration": "1.0.0",
      "Microsoft.AspNetCore.Server.Kestrel": "1.0.0",
      "Microsoft.Extensions.Configuration.EnvironmentVariables": "1.0.0",
      "Microsoft.Extens

[2016-07-23 10:27] zhenlineo commented on #98
We will look into this. But meanwhile we had this old [movies example](https://github.com/neo4j-examples/movies-dotnet-bolt), maybe it might help you a bit?

[2016-07-23 12:59] mperrenoud commented on #98
Yeah I checked that movies example so that I could effectively mimic it. For example, I made sure based of the `packages.config` that I was referencing the right NuGet packages. I also made sure I was using the same process to the connect. I even verified the port on my Neo4j server to make sure it was the default that would be produced in the Driver library and it was.

I will double check the `p

[2016-07-23 14:53] zhenlineo commented on #98
Wait, are you targeting at .net core? This driver is not possible for .net core project, as we used the Pcl lib for sockets is not compatible. The work to support .net core is a community work https://github.com/neo4j-contrib/neo4j-dotnetcore-driver

[2016-07-25 22:11] mperrenoud commented on #98
@zhenlineo so I modified the version to be `1.0.2` per the [NuGet](https://www.nuget.org/packages/Neo4j.Driver) link provided in that repo's read me. Upon leveraging that version I'm still getting this error:

I've tried with the following connection strings:
- `bolt://localhost`
- `bolt://localhost:7687`

I've also verified that my Neo4j server is executing off port 7687.

# UPDATE

I also tried

[2016-07-26 08:06] zhenlineo commented on #98
@mperrenoud The reason is probably because you are building a ASP.NET core project. The driver does NOT support .NET core at this moment. The error message showed that the PCL lib our driver built upon is missing the impl for sockets in .NET core platform. So unfortunately we could hardly help with your problem :(

[2016-07-26 12:36] mperrenoud commented on #98
I'm confused. In your response above you mentioned that if I were building a .NET Core application I could use the other repo? Is that version _not actually deployed_ to the NuGet feed even though its read me says so? Is that the deal? Because if so the read me should probably be updated to indicate it has to be built manually.

[2016-07-26 13:11] zhenlineo commented on #98
Sorry for the confusion.

This official .NET bolt driver does not support .NET core projects.

The other repo is a community project aiming to make a .NET bolt driver that support .NET core based on this official driver. The other repo is not maintained by us. But I just checked that repo for you and I do not think it published any functional driver that you could use in your .NET core project. Th

[2016-08-09 22:59] eosfor opened #100 "neo4j driver from powershell fails"
[code]

and what I get is

there are some additional details, if I do this right after call fails i see

PS: neo4j community edition running on ubuntu

[2016-08-10 08:09] zhenlineo commented on #100
This line `Sockets.Plugin.Abstractions.ITcpSocketClient.ConnectAsync(System.String, Int32, Boolean)` indicates something is wrong with `rda.SocketsForPCL`.
Try PCL version `1.2.2` first. I have `1.2.2` imported. Maybe they changed some interfaces in 2.0

[2016-08-10 19:27] eosfor commented on #100
This looks better, thanks

[2016-08-10 19:27] #100 closed

[2016-08-23 11:36] umutsayar opened #104 "Does not support TLS1.2"
I can not use GrapheneDB services because they does not support TLS 1.0 for security reasons. They require TLS 1.1 and TLS 1.2. GrapheneDB services (with bolt protocol) can not be used while "Neo4j .NET Driver" supports only TLS 1.0.

[2016-08-23 12:49] technige commented on #104
A release of the driver that supports TLS 1.2 is in the pipeline and should be released within the next few weeks.

[2016-08-27 17:34] genez opened #105 "handle dependency with correct "rda.SocketsForPCL" nuget package"
Current Neo4j.Driver nuget package (1.1.0-M01) has a dependency on rda.SocketsForPCL (>= 1.2.2)
Unfortunately, latest rda.SocketsForPCL version (2.0.2) is not compatible and the driver throws a MissingMethodException at runtime.

Please fix the dependency or upgrade to latest rda.SocketsForPCL version

[2016-08-30 17:35] courserahomework opened #106 "Persistent javax.net.ssl.SSLException - Connection reset thrown"
I use LOAD CSV using SSL URI to reference the file hosted on Azure Storage. It works greath for tiny files but anything larger than ~500MB I regularely get the exception below. I implemented retry mechanism in vain.

2016-08-26 07:17:21.424+0000 ERROR [o.n.b.v.r.i.ErrorReporter] Client triggered an unexpected error [UnknownError]: Connection has been shutdown: javax.net.ssl.SSLException: java.net.

[2016-09-06 15:15] zhenlineo commented on #105
Thanks for bring this issue up. We are currently working on next release to remove the dependency of rda.SocketsForPCL and switch to .net core sockets.

[2016-09-29 13:22] zhenlineo commented on #106
Sorry for not coming back to you earlier.
May I ask what version of server and driver you are using?
I suppose error message is error logged in the server debug.log. Could you also give me the error message that you got on the client side?

[2016-09-29 13:32] zhenlineo commented on #87
I am closing this issue as the server already surfaced the DealockDetectedException to the client side.
The cypher statement that raises ClientException or TransientException could be retried, while DatabaseException will result in connection termination.

Please be free to raise another issue if you get more questions.

[2016-09-29 13:32] #87 closed

[2016-09-29 13:35] zhenlineo commented on #70
I am closing this issue as I am expecting your question is already answered. Pls be free to re-open this issue or raise another issue if you still get questions.

[2016-09-29 13:35] #70 closed

[2016-09-29 13:40] zhenlineo commented on #104
The new .Net driver 1.1.0-M02 will have the support of TLS 1.2 https://github.com/neo4j/neo4j-dotnet-driver/pull/103

[2016-09-29 13:40] #104 closed

[2016-09-29 13:42] zhenlineo commented on #98
Hi,

A good news is that from 1.1.0-M02, this driver will support .net core projects. So please be free to try it out. But still, keep in mind that the milestone drivers are not ready for production.

Best,
Zhen

[2016-09-29 13:42] #98 closed

[2016-09-29 13:47] zhenlineo commented on #105
The new 1.1.0-M02 driver will be free of PCL, and switch to .net core libs.

[2016-09-29 13:47] #105 closed

[2016-09-29 13:57] zhenlineo commented on #86
The new release 1.1.0-M02 includes the completed streaming. Please be free to test it out. With the new streaming, you would probably not see an error until you starts to consuming the result. When we call session.run, the cypher statement is send to server to run, however the reply comes back but will not be consumed/throw to a client until the client starts to iterating on the result comes back.

[2016-09-29 13:57] #86 closed

[2016-09-30 12:24] genez commented on #85
The issue is still evident in 1.1.0-M2

[2016-09-30 12:31] zhenlineo commented on #85
@genez Could you give me the full code of how you running this `session.Run("MATCH (n) RETURN n")`? I would like to know how you consumed the result?

[2016-10-01 13:02] genez commented on #85
my fault. I was not trying against updated binary.
will post another issue regarding dotnet restore failing on linux

[2016-10-01 13:07] genez opened #114 "dotnet run fails on ubuntu 16 and dotnet-dev-1.0.0-preview2-003131"
I have created a simple test application with visual studio 2015
then referenced Neo4j driver version 1.1.0-m02 (using Nuget pre-release)
I copied the test program from another project using Mono and driver version 1.1.0-m1.
I am able to successfully compile and execute the new binary in windows.
On linux I get this error after "dotnet run" command:

[code]

Executing "dotnet restore" does not fix

[2016-10-03 08:05] zhenlineo commented on #114
Thanks for this feedback. I need to read more about the new versioning. The next version will have a correct version name in it.

[2016-10-10 22:09] zmarty commented on #81
I don't think this item should have been closed. Good to have is an understatement. Async support is vital for web applications.

[2016-10-10 22:19] technige commented on #81
We do expect to introduce an async API across the official drivers at some point but have no firm date on doing so as yet.

Closing this issue has no bearing on that deliverable though as this will be a feature extended across all drivers, not just .NET.

[2016-11-06 12:26] jgranq commented on #52
Any updates on this?

[2016-11-09 12:15] zhenlineo commented on #25
Hi

Sorry for not come back for this PR for a long time.

We looked into this issue and we find the support for compiling source code/run all unittests with Xamarin is not part of our current target. You are most welcome to issue a PR to add this support. But we currently will not add/maintain this feature.

Cheer,
Zhen

[2017-01-03 10:31] zhenlineo commented on #114
Thanks for the feedback, I am closing this issue as we've change the version name to m03 this time.  Pls be free to re-open this issue if you still have any issue with it.

[2017-01-03 10:31] #114 closed

[2017-01-03 10:36] technige commented on #106
Closing due to staleness. Please re-open if more information is available.

[2017-01-03 10:36] #106 closed

[2017-01-03 10:38] technige commented on #85
@genez can you confirm whether or not this is still an issue?

[2017-01-03 10:40] technige commented on #41
Closing this issue, please raise in PR if still desired.

[2017-01-03 10:40] #41 closed

[2017-01-03 11:19] genez commented on #85
I am going to perform some experiments in the next weeks.
Now I am committed on other tasks and cannot confirm the issue.

Please close it, I will eventually open another issue with more details

------ Original Message ------
From: "Nigel Small" <notifications@github.com>
To: "neo4j/neo4j-dotnet-driver" <neo4j-dotnet-driver@noreply.github.com>
Cc: "genez" <lini.genesio@gmail.com>; "Mention"
<ment

[2017-01-09 09:10] zhenlineo commented on #85
Closing this issue now, and pls be free to open a new one if you still find same issue in the latest drivers.

[2017-01-09 09:10] #85 closed

[2017-01-26 10:05] Meatballs1 opened #140 "System.ArgumentOutOfRangeException: Expected a struct, but got: A1 Parameter name: markerByte Actual value was 161."
[code]

[2017-01-26 10:11] Meatballs1 commented on #140
v1.1.0-SNAPSHOT-1608031116

[2017-01-26 10:19] zhenlineo commented on #140
Hello, could you upgrade to the latest stable 1.1.0 version of this driver?
[Release](https://github.com/neo4j/neo4j-dotnet-driver/releases)

Let me know if the problem still exists.

Cheers,
Zhen

[2017-01-26 10:20] Meatballs1 commented on #140
Hi @zhenlineo I have been trying to using myget but get the following error:

`Could not install package 'Neo4j.Driver 1.1.0-SNAPSHOT-1701200833'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.5', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package

[2017-01-26 10:24] Meatballs1 commented on #140
Looking at the nuget package folders the old snapshot has `portable-win8+net45+wp8` but the latest snapshot only has `netstandard1.0`. Both have a `dotnet` folder

[2017-01-26 13:00] zhenlineo commented on #140
The new 1.1 driver requires .NET Standard 1.3, which requires 4.6 .NET Framework.

What's the problem to use 1.0.2 driver then? Is it use too much memory use for your application? Or does it also have the same `Expected a struct, but got: A1` issue? Otherwise, do use [nuget](https://www.nuget.org/packages/Neo4j.Driver/1.1.0) rather than any snapshots in myget.

[2017-01-26 14:31] Meatballs1 commented on #140
1.0.2 -> 1.1.0 was where the full query results stopped being retrieved in one go and were requested as needed by the enumerator? I think I definitely needed that bit...

[2017-01-26 16:18] zhenlineo commented on #140
Yes, the streaming of the result is introduced in 1.1. I do not think we could help to fix your issue on a snapshot version. I could hardly help if you cannot upgrade version :(

I am so sorry that we bumped the version, the call for support donet core was high. The tls encryption requires .net stranded 1.3 so that's the lowest version we could go for.

If say you requires a support for other vers

[2017-02-02 14:55] krushmike opened #141 "Excessive Open Connections"
We are having some major issues with the .NET Neo driver (v1.1).  When running tests from a console app, the connections are managed as expected.  However, the same code on IIS and exercised via JMeter is completely different.  When the code hits an exception, in our case "Neo4j.Driver.V1.ClientException: Failed to connect to the server [some ip]:7687 within connection timeout 5000ms" the connecti

[2017-02-02 15:47] zhenlineo commented on #141
Hi, I think the problem that you describe indicates that we did not close the connection when failed to connect. A quick look into the code indicates that we actually will aways close the connection on failed connection initialization before re-throw the error.

Setting the maxIdleSessionPoolSize will not help too much on this problem as this config will not affect how many connections could be cr

[2017-02-02 16:29] roadbikemike commented on #141
We made some slight modifications to the test code which appears to have alleviated the issue.  Basically we made the driver static along with the class constructor.  Now IDriver is only being instantiated once.  This may have actually solved the issue.  Continuous testing appears the connection count is no longer rising.  So, I think we are in good shape, but we are continuing the tests.

[2017-02-02 16:33] zhenlineo commented on #141
Okay, good to know that you solved the problem.

Let us know if you find anything else outstanding.

[2017-02-02 16:34] roadbikemike commented on #141
Alright, we have it.  We had two JMeter clients running against a simple web service inserting a single record in to Neo.  One client ran 100% without an error.  The second client ran for a good portion of the time, but then started encountering errors.  The connection count on the server was stable UNTIL the second client started to receive errors.  Once that initial error started to occur, all s

[2017-02-02 16:35] roadbikemike commented on #141
This is the stack trace on the server once the client starts to get errors:

2017-02-02 11:31:18,982 [93] INFO Neo4jLogger - Neo4j.Driver.V1.ClientException: Failed to connect to the server [OUR IP]:7687 within connection timeout 5000ms
   at Neo4j.Driver.Internal.Connector.SocketConnection.Init()
   at Neo4j.Driver.Internal.ConnectionPool.CreateNewPooledConnection()
   at Neo4j.Driver.Internal.Co

[2017-02-02 16:41] zhenlineo commented on #141
What about the log in neo4j? do you get any error there too when the client failed to connect?

[2017-02-02 16:50] roadbikemike commented on #141
Server side, we see:

2017-02-02 16:50:35.898+0000 ERROR [o.n.b.t.SocketTransportHandler] Fatal error occurred when handling a client connection: Connection reset by peer Connection reset by peer
java.io.IOException: Connection reset by peer

[2017-02-02 16:52] roadbikemike commented on #141
We attempted catching the exception, setting the driver to null and then re-initializing.  Unfortunately, that appears to abandon the previous connection and simply open a new one.  This effectively puts us back in the same position.  Connections climbed well over 2500 in a very short period of time.

[2017-02-02 18:29] roadbikemike commented on #141
Something else we noticed, the connections on the Neo side persist.  They never seem to go away which is interesting.  I let the 2300+ connections sit on the Neo server and after an hour, they were still there.

[2017-02-02 20:28] zhenlineo commented on #141
Thanks for reporting the bug.

Sounds like a leak in the connections. It seems, the client opened a connection without registering it to connection pool due to the exception. So the connection was not closed or monitored by the driver. Then the server think the client is still using it while the client does not know this connection. Therefore when you close the driver, the connection was not close

[2017-02-02 20:39] roadbikemike commented on #141
Good question.  If we have two separate clients running JMeter, one being slightly throttled and the other running at full speed, the full speed JMeter will start to fail with timeouts while the other will continue to run without error.  So, again it seems as if the driver is becoming unstable if pushed too hard.  Once in this state, the driver is not healthy from there on out.

[2017-02-06 15:53] roadbikemike commented on #141
zhenlineo, any luck on diagnosing this issue?  This is becoming more and more critical for us.  Is there another method to escalate the issue I should take?

[2017-02-06 16:18] zhenlineo commented on #141
Sorry I was tired up by other things. I will give you a update tomorrow. I get some ideas that I would like to explore.

[2017-02-08 14:08] zhenlineo commented on #141
Hi, I found the problem with connection timeout was caused by tls connections. if you could turn off tls, you should be able to establish connections really fast.

If you still receive any connection timeout 5000ms, then enlarge the timeout or set it to -1 to enforce waiting there. I tried with 5000 threads with -1 connection timeout (infinite waiting), it finished without any error.

I will try t

[2017-02-08 14:31] roadbikemike commented on #141
I will try this today zhenlineo.  Keep in mind though, establishing connections was not an issue.  The driver would get in to a state where errors were encountered and could seemingly not get out of that state.  I did not realize TLS was enabled by default, so we will disable and test.  Originally, TLS was our desired state, but that is no longer the case.  Either way, figuring out the issues with

[2017-02-08 15:46] roadbikemike commented on #141
Disabling encryption completely alleviated the issue!  We were up over 1000 posts per second without a single issue via our web API and connections were stable using bolt!  We enabled bolt+routing which was good and our preferred method.  However, when bolt+routing is enabled and we point to the leader, there is no issue.  If we point to one of the read nodes, we get:

"Neo4j.Driver.V1.SessionExpi

[2017-02-08 16:50] roadbikemike commented on #141
After doing some routing tests with the driver, it appears to NOT be routing properly.  We are formulating our URL with bolt+routing:\\ which should be correct.  Doing a packet capture, it appears the driver continues to use the load balancer and not get handed off to the LEADER.  We can see in the initial call where it gets the list back:

.)...$CALL dbms.cluster.routing.getServers......?...0.p..

[2017-02-08 16:57] zhenlineo commented on #141
Hi, could you tell me the structure of your causal cluster? like core members A, B, C, where A is the leader, and load balancer D. Then you provide the client/driver with A, then it works, if you connect the driver with B and C, then it is not working???

[2017-02-08 17:01] zhenlineo commented on #141
Oh, make sure that you are using the 1.1.1 release, I fixed a bug might be the problem that you are describing.

[2017-02-08 17:09] roadbikemike commented on #141
We are using .NET driver 1.1.  I am upgrading to 1.1.1 through Visual Studio now...

Your assumption is exactly correct.  We have three CORE nodes with one being the leader (obviously).  The load balancer sits in front of these three nodes.  If we point the client directly at the leader, we get no failures.  If we point the client at one of the other non-leader CORE nodes directly, we get the erro

[2017-02-08 17:25] roadbikemike commented on #141
We upgraded to 1.1.1 and YES!  Completely different behavior on the network side and we see the routing working as intended.  I have been running tests and no failures going through the load balancer.  Going to continue testing.  You guys rock!

[2017-02-10 10:32] gsasch commented on #140
I've update to version 1.1.1 but i've the same error:
An unhandled exception of type 'System.ArgumentOutOfRangeException' occurred in Neo4j.Driver.dll
Additional information: Expected a struct, but got: 63

Expected a struct, but got: 63
Parameter name: markerByte
Actual value was 99.

This is the custom procedure call:
call checkDataConsistency() yield consistencyResult return *

and this is the

[2017-02-10 11:09] zhenlineo commented on #140
Hi @gsasch

How open do you receive this? Do you always get the error for this specific procedure call no matter when and where you call the procedure? Or it is like a phantom error that comes randomly in any location or in any query?

[2017-02-10 11:16] gsasch commented on #140
Hi, i receive this error only when i call the procedure with bolt driver in .net project. The response is correct when i call it with cypher in http browser.
this is the c# procedure in bold the line that catch the exception:

`
bool RetVal = false;
            using (var driver = GraphDatabase.Driver("bolt://" + ServerHost_Neo4J, AuthTokens.Basic(User_Neo4J, Password_Neo4J)))
            using (v

[2017-02-10 11:54] gsasch commented on #140
The result in C# is different after i made some changes in result data. I remove the "consistencyReport" object and then i move the subobjects "Details" and "RowUpdated" under the "consistencyResult" column:

The result with Bolt is an empty response in IRecord interface.. :(

The new json response now is:
`{
	"columns": [
		"consistencyResult"
	],
	"data": [
		{
			"row": [
				{
					"subVerify"

[2017-02-10 13:03] zhenlineo commented on #140
This driver does not use any format that is similar to http json, instead this driver is using bolt binary protocol. When you use .net driver, could you turn on the logging on level `Trace` to catch the binaries between the server and the driver? (or use wireshark without encryption on connection to catch the binaries in TCP connections.) I would like to have the binary that you send between the s

[2017-02-10 13:13] gsasch commented on #140
Thanks, i resolve. The problem was written here:
https://neo4j.com/docs/api/dotnet-driver/current/html/11b5f90b-435c-d657-08e8-bc6df823eff4.htm
_This method could be called multiple times. If no more record could be consumed then calling this method has the same effect of calling Summary._

So why i had an empty response. I added a fake line like this before read the result:
 if (result.Summary.Co

[2017-02-14 13:27] krushmike opened #145 "Socket Errors after Idle"
When we are running load tests against Neo using the .NET 1.1.1 driver, there are no issues.  We can push thousands of requests through as expected.  However, if we let our application sit idle and then try a connect, we get the following below.  In this case, I let Neo and the client application sit over night with no activity.  Yesterday, before leaving everything was working great, but throwing

[2017-02-14 14:00] zhenlineo commented on #145
Hi, the client maintains a connection pool and reuses connections from the pool. If you do not want any connection being pooled, you could turn it off (The default pooled connection size is 10). Then all the connections with the server will be new connections. While this might slow down your app as socket connections are expensive to establish and close. We currently have a experimental function a

[2017-02-14 14:04] roadbikemike commented on #145
Hmmm.  Does not sound ideal.  The only way I could get a connection to Neo once the client was in this state was to restart the web app.  It seems as if these connections in the pool should definitely expire after some amount of time.  Having to restart the application in order to recover is not a suitable solution.  Do you have any idea in regards to the connectivity test?

I re-tested a moment a

[2017-02-14 15:32] zhenlineo commented on #145
No, you should try
1) add retries so that when you query failed due to this connection error, you could replay. If you retry more than connection pool size, then you should be able recover from this.
2) do a background ping such as `RETURN 1` in your app to keep the connections alive.

[2017-02-14 15:41] roadbikemike commented on #145
It appears once the connection pool is full, all connections are essentially dead after some time.  Meaning there is no way to obtain a new, valid connection without destroying the pool and starting over.  That is why restarting the application addressed the issue.

When I tested this morning, the first connection to Neo failed (after 18 seconds), but the second was successful as it likely picked

[2017-02-14 16:20] zhenlineo commented on #145
You do not have to destroy the pool to get a valid conn. The driver will prefer first try to grab a conn from the pool, so that's why you get broken connection (If a conn is idle too long, the conn get killed by your system. The 18s might be the timeout used by your local system). But broken conn will not be returned to the pool. So if you try more than pool size, then you will ensure to get a new

[2017-02-14 19:00] roadbikemike commented on #145
I see this exact same issue was identified and fixed in the Java driver.  Could you perhaps provide some information as to when we will see this in the .NET driver.  At this point in time, this is a big issue for us.  As usual, thanks zhenlineo!

[2017-02-15 09:52] zhenlineo commented on #140
Hi, I am closing this issue as I cannot see if the problem still exists in the newer releases.

Pls be free to open the issue again if you see the error again with a released driver.

Cheers,
Zhen

[2017-02-15 09:52] #140 closed

[2017-02-15 09:55] zhenlineo commented on #25
Hi, sorry for idle on this thread for too long. Right now supporting compiling the source code in another platform other than windows is not part of current plan. But you are most welcome to contribute to support compiling source code in other platforms.

Cheers,
Zhen

[2017-02-15 09:55] #25 closed

[2017-02-15 12:44] AviAvni commented on #141
@zhenlineo

I'm getting the same exception with the 1.1.1 package
when working with neo4j community edition 3.1

the code:
[code]

the exception

[code]

[2017-02-15 12:57] zhenlineo commented on #141
@AviAvni How many concurrent thread you have to use the driver? Are you also use this driver in a .net ASP based app? Do you have ssl turned on? Will you still get the error if you turn off ssl encryption?

[2017-02-15 13:00] zhenlineo commented on #141
@AviAvni Can you also try this snapshot `Neo4j.Driver.1.1.2-SNAPSHOT-1702151233.nupkg` in Mygut to see if you still have the error too?

**Do not use any snapshot driver in real production**

[2017-02-15 13:22] AviAvni commented on #141
@zhenlineo concurrent thread I think 4
now i'm using console app for poc after that i'll use this in asp.net
ssl is truned on (also we have another problem other laptop can't connect when ssl is on only off)
I'll try the snapshot

[2017-02-15 13:58] zhenlineo commented on #141
@AviAvni Hi, in my console test environment, I have no issue to connect server with ~1000 threads and ssl on. I only see this error when the thread count goes to 5000. So I am wondering if your server/client setting is wrong.

[2017-02-15 14:14] AviAvni commented on #141
@zhenlineo I moved to the snapshot package and with encryption the same error
without encryption no error

[2017-02-15 14:30] AviAvni commented on #141
@zhenlineo akso with no encryption it happend I set the WithConnectionTimeout to 30 sec and
still there is connection timeout of 30 sec

[2017-02-15 16:12] zhenlineo commented on #145
Hi @krushmike

Yes, there is a "fix" in java driver, the reason that it does not make into other drivers is not because other drivers/driver users are not important, it mainly because it is not a good solution.

So as you could imagine, there are many ways to fix it, the one we did in java is not really ideal. I could give you the same thing in java driver in a patch release, while I do not think

[2017-02-15 16:29] roadbikemike commented on #145
We are running our apps in a PaaS environment, so we do not have access to any system level tuning such as keep-alive, TCP timeouts, etc.  Implementing a keep alive ping in the application itself may be the best solution for the interim.  While not exactly related, here is a good article on how MS manages the connection pool in their ADO driver.  Perhaps some ideas which you could implement in the

[2017-02-15 16:52] zhenlineo commented on #141
Could you try to see if this you could finish this raw socket connection in 30s in your APP env? https://github.com/neo4j/neo4j-dotnet-driver/blob/1.2/Neo4j.Driver/Neo4j.Driver/Internal/Connector/TcpSocketClient.cs#L48

I can hardly understand why it failed to connect as the code path is just raw system socket conn call.

[2017-02-15 16:56] zhenlineo commented on #145
Thanks so much for providing this related pool impl. It provides some insights to us for sure.

Could you also inspect on the connections between the client and server to see what traffic is happening during the "18s" time between the client and server after a long idle time?

According to the stack trace you provided, this line `at Neo4j.Driver.Internal.Connector.SocketClient.ReceiveOne(IMessageR

[2017-02-15 17:02] zhenlineo commented on #145
The connections in the connection pool is a queue, so if you ping 50 times, then you are sure to pinged everyone. But I do not suggest you keep the idle pool 50 unless you hit some performance issues. Otherwise, use some small numbers such as 10? Just let you know that the idle pool size does not limit max pool size you could get in your APP.

[2017-02-16 11:58] AviAvni commented on #141
@zhenlineo I downloaded the 1.2 branch code and run this code and I changed the method you
linked to

[code]

[code]

[code]

[2017-02-16 16:46] roadbikemike commented on #145
To note, the 18 seconds is derived from a Windows setting which only allows 5 TCP re-transmissions before terminating the connection.  Each connection doubles in time from the previous.  This ultimately adds up to the 18 seconds.

![neo_timeout](https://cloud.githubusercontent.com/assets/20796792/23031031/90190046-f43d-11e6-86fa-ce4d3187e860.png)

[2017-03-08 16:18] zhenlineo commented on #141
@AviAvni Hi, I did a similar test on the driver and it shows me that it is just slow to establish socket connections. I think it might related to how .Net manages async resources.

Try to create the driver with `new Config{ ConnectionTimeout=TimeSpan.FromMilliseconds(-1)}` to wait infinitely when establishing connections. I get no error if I wait infinitely.

[2017-03-08 17:23] AviAvni commented on #141
@zhenlineo why you not expose async api?

[2017-03-09 09:05] zhenlineo commented on #141
@AviAvni haven't got the chance to build the async API and sadly the .net core only provides a async tcp client :(

[2017-03-15 20:24] Genome8 opened #156 "PowerShell Driver req."
Here is some PowerShell code I made to query NEO4J using the .net Bolt protocol.

#requires -version 2

Function NEO4J-Bolt-Connect
{
<#
    .SYNOPSIS
        Creates a .NET Bolt Connection to a NEO4J Database for Queries.
        Author: Larry Cummings (@genome_8 on neo4j-users.slack.com)
        Source: https://github.com/Genome8/NEO4J-PowerShell-Driver
        License: MIT License
        Requi

[2017-03-16 13:15] zhenlineo commented on #156
Hi,

Thank very much for letting us know your awesome job. We have not yet planed for any related work so far. We are more than happy to keep this issue open for anyone who might want to have a Powershell driver.

Cheer,
Zhen

[2017-03-27 08:57] SpencerJB opened #158 "Too many dependencies when using net framework."
Hi, I am using the neo4j driver on a .net 4.6 project and when I use nuget to pull in the neo driver I also pull in a lot of dependencies with the .netstandard library that are unecessary.

I've looked at the nuspec file and I can remove a lot of those dependencies by adding
[code]
and
[code]

So that only needed dependencies are pulled in. Would it be possible to make changes to the nuspec file i

[2017-03-28 13:37] Tazmain opened #159 ".Net is not fully supported"
I tried to create a VC++ CLR project which still falls under .Net and I got the error  "Could not install package 'Neo4j.Driver 1.2.0'. You are trying to install this package into a project that targets 'native,Version=v0.0', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author." when try

[2017-04-03 08:14] zhenlineo commented on #158
Sorry for the late reply, I will have a look this week and try to fix it in next release.

[2017-04-06 14:13] zhenlineo commented on #159
Sorry for the inconvenient, I will look into this.

[2017-04-10 10:18] Tazmain opened #164 "Asp dot net core bolt driver can't connect on *nix"
When trying to run an app on *nix with dot net core, I get This platform does not support connecting sockets to DNS endpoints via the instance Connect and ConnectAsync methods, due to the potential for a host name to map to multiple IP addresses and sockets becoming invalid for use after a failed connect attempt. Use the static ConnectAsync method, or provide to the instance methods the specific I

[2017-04-10 11:24] zhenlineo commented on #164
Thanks for reporting this issue. I was recently looking into resolving DNS to IPs before creating connection pool for this driver. I think your problem will be solved by introducing Dns resolving. I was holding doing it as I was a bit reluctant to introduce another async dns.ResolveAsync into this synchronized driver.

While waiting for a fix, I would also suggest some work around for now. Conside

[2017-04-10 13:55] ChaosYoda commented on #164
Hi, I am using the IP directly and it gives me the error above.

[2017-04-10 14:01] zhenlineo commented on #164
Oh I see, so there is a problem with
[code]

 and we should avoid the problem by moving to

[code]

Am I got you correctly this time?

[2017-04-10 15:27] ChaosYoda commented on #164
Yes I think that will work.

[2017-04-12 11:04] cskardon commented on #159
Hi @Tazmain  - Can you add a reference to `System.Net.Security` in the C++ CLR project?

[2017-04-13 12:46] ChaosYoda commented on #159
It is possible to add the System.Net.Security dll manually, it seems to be a problem with Nuget for VC++. Is there a way to just download the .dll file?

[2017-04-13 12:52] cskardon commented on #159
There isn't a `dll` version - as `Neo4j.Driver` is distributed exclusively by nuget, so you have 2 options:

1) download the package into a C# project, then you should have the dll in the `packages` folder of that project, or
2) follow the instructions in: http://stackoverflow.com/questions/18694947/how-can-i-make-my-managed-nuget-package-support-c-cli-projects

I'm not sure which is easiest for y

[2017-04-13 17:16] ChaosYoda commented on #159
So I can add the .dll and start to use it. Will see if I can get it instantiated with C++/CLI and get a result.

[2017-04-13 21:38] cskardon commented on #159
If /when you do, I'd love to see a simple "hello world" example, I've really got no idea how to use it from c++

[2017-04-14 12:43] ChaosYoda commented on #159
I am just getting stuck with the AuthTokens, I cannot cast AuthTokens to IAuthToken. Creating a Driver instance requires this if I want to authenticate myself. I have a hello world compiling, just need to figure out the System.Net.Sockets dll load issue.

[2017-04-14 17:39] zhenlineo commented on #159
@Tazmain `AuthTokens` is not a `IAuthToken`. AuthTokens is a class provides static methods to create `AuthToken`. So you need to either use `AuthTokens` to create a `AuthToken` to cast to `IAuthToken` or create a `AutoToken` yourself if you have access to that class.

[2017-04-18 12:38] ChaosYoda commented on #159
So as it turns out I can use the .dll but because of its dependencies, it fails to load those, since it is looking for the nuget versions of System.Net.Sockets. If that was removed I would be able to use it. It is also possible to create a nuget package compatible with Visual C++. For now, I suggest just updating the webiste to not say .Net compatible but C# .Net compatible rather, being specific.

[2017-04-18 15:58] cskardon commented on #159
How is it possible to create a nuget package that works with C++, if you could share that it'd be super useful to be able to get it working.

[2017-04-24 08:35] zhenlineo commented on #164
Hi, the problem should go away with the new .net [1.3.0-beta01](https://github.com/neo4j/neo4j-dotnet-driver/releases/tag/1.3.0-beta01). The fix will also be included in 1.2.1 (which should be coming soon).

[2017-04-24 08:36] zhenlineo commented on #158
Check out the [1.3.0-beta01 release](https://github.com/neo4j/neo4j-dotnet-driver/releases/tag/1.3.0-beta01). The dependency problem should be go away from this 1.3 series.

[2017-04-24 08:36] #158 closed

[2017-04-24 08:37] #164 closed

[2017-04-25 21:28] corygehr opened #174 "Query Results Returning Blank"
In v1.2 of the driver my resultsets are coming up empty. The code used is similar to the following:

[code]

I don't even get to enumerate the results in this case. Running the same query directly on the DB is fine.

Also of note - when I use the debugger in VS I can expand the results view but it just shows a bunch of empty entries (I suspect the number of empty rows matches the number of results

[2017-05-01 22:21] corygehr commented on #174
Updating to mention that this is an issue with all driver versions >=1.1

[2017-05-01 22:33] corygehr commented on #174
Ah, so it was the streaming data that bit me here - missed the info on enumerating the results via something like .ToList() before you can consume the data. Would be helpful to update the Wiki with this as the current info there doesn't require this.

[2017-05-01 22:33] #174 closed

[2017-05-02 08:40] zhenlineo commented on #174
Hi,

One note:
If you call ToList(), all the records will be buffered into a list.
If you could process each record when you are enumerating, then it will save you some memory use.

[2017-05-02 15:50] corygehr commented on #174
@zhenlineo My issue is that the enumeration wouldn't even start - I need to call ToList() to get any data out of the StatementResult object. Is there something I need to call on the StatementResult object in order to populate the results?

This could be a .NET 4.6.2 issue but as stated above, the Debugger just showed a bunch of blank results when I expanded that view.

[2017-05-02 19:12] zhenlineo commented on #174
@corygehr You should be able to "stream" over the result. That is for each iteration, you will receive one record until you reached the end of the stream. And if you did not save the record you received in the current iteration, you cannot get it back once you iterated over it. (That's why you might want to call ToList to buffer all records into memory if you need to go back to the stream)

Can yo

[2017-05-02 19:37] corygehr commented on #174
@zhenlineo Yep - this is exactly what I was doing previously. However, the enumeration would never run even though the debugger showed empty result rows, but perhaps because the result was not yet streamed or all the objects were empty, `.Count()` was returning 0 since the resultset technically looked to be empty.

Again, could be a .NET 4.6.2 compatibility issue but the exact code you have there

[2017-05-02 19:38] corygehr commented on #174
@zhenlineo We can reopen this if you'd like, but for some reason doing `.ToList()` worked so maybe my thoughts above aren't the exact issue.

[2017-05-02 19:40] zhenlineo commented on #174
Could you give me the version of the driver you are using?
I might setup a simple 4.6.2 project sometime to see if there is an issue or not.

[2017-05-02 19:48] corygehr commented on #174
1.2.1, although I was having issues with all releases >=1.1 when I was checking backwards compatibility. Up to 1.0.2 that code was fine.

[2017-05-05 10:03] zhenlineo commented on #145
Hi, I am closing this as [1.2.2 release](https://github.com/neo4j/neo4j-dotnet-driver/releases/tag/1.2.2) already addressed this issue. Pls be free to reopen this if you still have any problems.

Cheers.

[2017-05-05 10:03] #145 closed

[2017-05-15 16:05] fsimonazzi commented on #81
Any updates on this? Not having an async/non-blocking way to access the database is a deal breaker for server-side implementations.

[2017-05-15 16:26] zmarty commented on #81
I again respectfully ask for this item to be re-opened. It does not matter if the work will be done, the item should be kept open until it is fixed.

[2017-05-15 17:04] technige commented on #81
I can confirm that we still have this on our long term roadmap but as yet, we cannot give any timescales.

Please do not see the status of this particular issue as in any way bound to feature delivery. This issue was closed for internal workflow reasons and general async operations will be implemented more broadly than just as a facet of the .NET driver.

[2017-05-16 23:59] arturosevilla opened #179 ""Win32Exception: The token supplied to the function is invalid" on default configuration"
I tried the following code:

[code]

Over a Neo4j 3.2.0 Community Edition with default settings as follows:

[code]

And my `packages.config` after `Install-Package Neo4j.Driver -Pre` is modified as follows (no other nuget package is installed):

[code]

.NET target framework is 4.6.1.

And I get the following exception during `Session.Run()`:
[code]

With the following binding redirect:

[code]

[2017-05-31 14:38] zhenlineo commented on #179
Hi,

Sorry for coming back late. I failed to reproduce your problem locally. Is the server using the neo4j self-generated certificate, or did you configured the server to use an existing certificate?

Zhen

[2017-05-31 14:47] arturosevilla commented on #179
Out of the package with Neo4j Community

[2017-05-31 14:59] zhenlineo commented on #179
Okay, thanks. I will look more into this. Meanwhile if you could try on other machine/os to help me check if it is more os related or it is a generally issue.

Regards,
Zhen

[2017-06-13 09:31] devcrafting opened #183 "Allow props setting use case"
Hello,

I was trying to set multiple properties on a node using a "props" parameter (as it is done here http://neo4j.com/docs/developer-manual/current/cypher/syntax/parameters/#cypher-parameters-create-node-with-properties).
I tried with the following anonymous parameter:

    var props = new { id = ..., name = ... }
    var parameters = new { props }
    session.Run("...", parameters)

The Run wi

[2017-06-13 13:11] zhenlineo commented on #183
Hi

You could provide multiple levels of property parameters if you use `Run(string, IDictionary<string, object>)`

[code]
Dose this solve your problem?

Zhen

[2017-06-13 14:31] devcrafting commented on #183
Yes that's what I did, but it is a bit more verbose than anonymous objects.
I even mixed both:

    new { props = new Dictionary<string, object> { ... } }

[2017-06-15 13:15] technige commented on #145
![](https://github.trello.services/images/mini-trello-icon.png) [Connection Management [2 + max 4]](https://trello.com/c/DFeRQfab/50-connection-management-2-max-4)

[2017-06-16 13:45] ali-ince commented on #179
Hi,

We looked more into this issue and could not reproduce the problem mentioned. However, it seems that there may exist a local OS level issue about SSPI and TLS - which could be monitored via adding the following diagnostics configuration to the application configuration file (app.config or web.config) -
 please do not forget to update trace file location (c:\temp\network.log) to fit your envir

[2017-07-12 16:30] ali-ince commented on #179
Hi,

We have worked more on this upon another support issue about this same error where we have the exact configuration, we were able to reproduce it on our internal environment. The problem lies on the version of Windows being used and TLS 1.2's not being enabled. Neo4j server requires clients to support TLS 1.2 when encryption is used and the .NET Framework relies on OS-level security providers

[2017-07-17 08:51] #179 closed

[2017-07-24 12:48] zhenlineo commented on #141
I am closing this issue as the original issue (too many open connections) was already addressed.

Regarding timing out on connection establishment, a new async API which we are currently working on should have the timing out problem solved.
An alpha release with full async API support for direct driver has been released a few weeks ago. You are most welcome to try it out and give us your valuable

[2017-07-24 12:48] #141 closed

[2017-08-02 09:54] AviAvni commented on #141
@zhenlineo I just do a check for the new 1.5 package in a side console app
in the sync api the error still occure
in the async api its work properly

when we can use the 1.5 async api in production?

[2017-08-02 10:59] zhenlineo commented on #141
@AviAvni Glad to know that async solved your problem. The 1.5 GA release is scheduled for this fall.

[2017-08-02 11:43] AviAvni commented on #141
@zhenlineo  fall is little late for us what we can do to have workaround this with current driver?

[2017-08-02 12:37] zhenlineo commented on #141
@AviAvni
Could you restate your issue in a new issue? It would also help if you have some code to reproduce your problem.

It is a bit unclear right now if your problem was `Failed to establish conn in 5000ms` or too many open connections or takes too long to establish connections?

Thanks a lot.
Zhen

[2017-08-05 12:56] bytebuilder26 commented on #159
It doesn't work for me either when trying to add the package to a Xamarin Forms app. Has anyone been successful adding the driver to other platforms?

I'm getting this:
![image](https://user-images.githubusercontent.com/20599359/28995630-8a72d94a-79b3-11e7-9e41-de6a282bb64b.png)

thanks!

[2017-08-06 15:20] AviAvni opened #212 "Connection with the server breaks due to IOException: Failed to connect to the server localhost:7687 within connection timeout 5000ms"
I found that when our webapi server hosted in iis is recycled then we have this error
We use the 1.3 driver
[code]

[2017-08-07 09:00] ali-ince commented on #159
Hi @bytebuilder26,

The Neo4j.Driver package targets .NET Standard 1.3 and the runtimes that supports it could be found [here](https://github.com/dotnet/standard/blob/master/docs/versions.md). PCL profile 259 is logically equal to .NET Standard 1.0 and an exhaustive list of profiles and their corresponding .NET Standard levels could be found [here](https://blog.stephencleary.com/2012/05/framework-

[2017-08-07 11:55] zhenlineo commented on #212
Hi,

What do you mean of `when our webapi server hosted in iis is recycled`? Could you describe a bit more about how you see this error in your system?

Is it correct that you have a server which contains a .net driver inside? Then at the first, the server starts and then the driver is created. For a while, the driver is working as expected such as many queries can run successfully? But when or ho

[2017-08-07 14:50] AviAvni commented on #212
We have a asp.net webapi server written in c# with neo4j dotnet driver 1.3
And we define 1 static instance of IDriver and every call to the neo4j db we use different session
Regularly the driver is working ok
after iis do the recycle we see that at the moment the new process is up then we have this exception and after that the code work ok
I'll try to look at the timeout you mentioned

[2017-08-09 08:32] razbar commented on #212
I have the same issue, every recycle for the application pool in IIS generates this error.

[2017-08-09 14:23] zhenlineo commented on #183
https://github.com/neo4j/neo4j-dotnet-driver/pull/213

[2017-08-13 17:12] ChaosYoda commented on #159
If dotnet core is going to be the target for the future, then having it working with C++ might be a problem since dotnet core will not support VC++.

[2017-08-14 08:12] razbar commented on #212
Hi @zhenlineo any updates on this bug?

[2017-08-14 09:24] zhenlineo commented on #212
@razbar It is on our current work list. We will make sure to keep you updated on this issue.
@AviAvni said that he did not receive this error with our new 1.5 async API. So maybe you would also be interested to try out [1.5.0-alpha01](https://github.com/neo4j/neo4j-dotnet-driver/releases/tag/1.5.0-alpha01).

[2017-08-14 21:53] razbar commented on #212
@zhenlineo thanks for the update.

I would definitely be delighted to test it but I need async API that supports causal clustering.
Do you have any release date for this?

[2017-08-17 22:51] g3rd commented on #141
Hello. I'm having a connection issue with the Python driver. How can I see the number of open connections from the server side?

[2017-08-18 12:05] zhenlineo commented on #212
@razbar Hi, we've release a new alpha [1.5.0-alpha02](https://github.com/neo4j/neo4j-dotnet-driver/wiki/1.5-changelog#150-alpha02) with full async support for routing driver too. Pls be free to give it a try.

[2017-09-05 07:35] ali-ince commented on #183
I am closing this as this is addressed by [#213](https://github.com/neo4j/neo4j-dotnet-driver/pull/213) and is already included in 1.4.1 release and merged in 1.5.0 branch.

[2017-09-05 07:35] #183 closed

[2017-09-05 07:40] ali-ince commented on #159
Hi @Tazmain,

Latest 1.4.1 release and 1.5.0 pre-releases targets both .net 4.5.2 and .net standard 1.3. With explicit support for .net 4.5.2 you can manually reference it in your C++/CLI project (as nuget is not supported on C++ projects) and make use of it as an ordinary class library.

Please also note that we have incorporated more compatibility changes (changing optional arguments to method o

[2017-09-05 07:47] ali-ince commented on #159
Hi @bytebuilder26,

Please be informed that our latest 1.4.1 release targets .net framework 4.5.2 and .net standard 1.3. With this improvement, you may retry your usage scenario in Xamarin Forms by selecting a PCL profile that supports .net framework 4.5.2.

Ali

[2017-09-08 15:41] Vixxd commented on #156
Hi there,

You say 'the Driver can be adapted for .net 3.5 with some modifications' - can you let me know what these are and how to implement them? I am trying to incorporate this into a Unity 2017 project which is .NET 3.5 max.

Thanks,
Vicky

[2017-09-11 02:12] Genome8 commented on #156
Hi  Vicky,
All that really needs to be done is the Socks part of the driver rewritten for .net 3.5 or 2.0. the current package is dependent on a .net 4 Socks implementation. You can read the .net 4 code and just re write it almost verbatim for 3.5 or 2.5. I was going to but life happens and noting I have is running less than .net 4.5.

Cheers.

-L

 Date: Friday, September 8, 2017, 10:41 AM

 Hi t

[2017-09-14 17:40] pman12826 opened #234 "Username property"
We are writing custom APIs using the Kerberos plugin.  Neo4j does a great job tagging the person doing the work and can be seen using dbms.listQueries, but sometimes I want to capture that username and pass to other methods in my c# code.

Can the driver team add a method that returns the username.  For example:
IAuthToken token = AuthTokens.Kerberos(sBearer);
driver = GraphDatabase.Driver(boltAdd

[2017-09-18 15:46] #159 closed

[2017-09-18 16:05] ali-ince commented on #234
Hi @pman12826,

We currently do not plan to add `username` property that will be exposed by the driver API. However, what you've requested can be easily achieved by using `dbms.security.showCurrentUser` stored procedure.

Thanks,

Ali

[2017-09-20 01:40] elvindp opened #237 "Will neo4j .net driver support .net framework version 3.5?"
I try to involve neo4j using Unity but I find the highest .net framework version of Unity is 3.5, which is unable to use this driver. Therefore, I wonder whether there are any ways to solve this problem? I would be very appreciate if you could help me. Thanks!

[2017-09-25 15:00] flq opened #244 "What is the idea of how to read values values out of PackStreamStruct?"
Consider the following  statement:

[code]

Here the _products_ key will point to a `List<object>` whose elements are `Node`s, fair enough.

Now, suppose I also need relationship info and do something like this:

[code]

What I now get is

[code]
And here I cannot sensibly access the values of **rel** and **product** anymore because the value is represented with an internal object.

If you tell me

[2017-09-25 15:36] zhenlineo commented on #244
`PackStreamStruct` should stay internal. We probably exposed the wrong type here. Working on a fix now.

Thanks so much for reporting to us!
Zhen

[2017-09-26 07:47] flq commented on #244
Thank you Zhen,
as an aside I was looking at whether I can put myself in the position to contribute since my current "pet" project involves knowing the .NET Neo Driver pretty well - running the integration & TCK(?) tests, it appears that you require access to some AWS resources...

`Required environment variable is not defined: AWS_ACCESS_KEY_ID`

However, the "Tests" project runs fine.

[2017-09-26 08:12] zhenlineo commented on #244
@flq Yeah, IT and TCK tests requires aws to download a server to run all tests unless you have already downloaded a server by running tests before. You could probably run most of IT and TCK tests if you have a community server in the path `github-parent-folder/Target/neo4jhome`, with password `neo4j` (See more in this [class](https://github.com/neo4j/neo4j-dotnet-driver/blob/230d8cefabc2d8c5c76db4

[2017-09-27 15:41] flq commented on #244
Looks like the PR is merged, and it is already in the Nuget - I think that is nothing short of awesome, folkes. Thank you!
I should be able to give it a spin this evening and see how it behaves :)

[2017-09-27 20:20] flq commented on #244
Okay...um, color me confused. I look at the Driver code, it does not have `PackStreamStruct` anymore, I see that the code is tagged 1.5.0-rc1, as the nuget. I updated the nuget reference, removed older versions from the cache at  `%userprofile%\.nuget\packages` - deleted obj, rebuilt...but I still get PackstreamStructs back with the opening cypher statement above.

Is the code not in the nuget yet

[2017-09-28 08:59] zhenlineo commented on #244
Sorry, I messed up tags, rc1 has not got the fix in yet. It will come with rc2 very soon. See the [changelog](https://github.com/neo4j/neo4j-dotnet-driver/wiki/1.5-changelog)

If you would like to try it right now. You could play with our mygut feed to try out with a snapshot, see more info [here](https://github.com/neo4j/neo4j-dotnet-driver#snapshots)

Zhen

[2017-10-02 20:28] flq commented on #244
I just tested with **1.5.0-rc2** and it is working as expected with nested nodes and relationships coming out as desired, or arbitrary values as a dictionary. From my point of view this could be closed.

Thank you very much, people 🥇

[2017-10-03 08:04] #244 closed

[2017-10-17 14:16] MPasadu opened #249 "Updated from 1.3 to 1.5 - reference dlls missing in output folder?"
We have multiple projects and one project has the neo4j nuget package and reference. **When referencing this project from other projects** the neo4j dll is copied to the outputfolder of the other projects.
In version 1.3 all other referencing dlls that are used by the neo4j are also copied.
In version 1.5 only the neo4j dll is copied.

This creates problems when trying to create our setup files si

[2017-10-17 14:19] ali-ince commented on #249
Hi @MPasadu,

Since version 1.4.2, we explicitly started supporting .NET Framework 4.5.2+ and if you're developing on .NET Framework rather than .NET Core, the driver no longer requires those references.

Ali

[2017-10-18 08:27] MPasadu commented on #249
Thank you for the fast response.

We will get rid of the references and push .NET Framework 4.5.2 as lowest requirement!

[2017-10-18 08:27] #249 closed

[2017-10-18 10:41] juicelink opened #250 "Big requests do not complete"
On my solution if I run:
`session.Run("match(n) return n limit 5000").ToList()`
It works

if I run:
`session.Run("match(n) return n limit 10000").ToList()`
It never completes

It works with 1.5.0-alpha01 (result comes very quickly) but not with the upper versions (final 1.5.0 included).

(test with dotnet core 2 in xunit unit test)

[2017-10-18 12:59] ali-ince commented on #250
Hi @juicelink,

Just as a quick check, I've executed [this code](https://gist.github.com/ali-ince/cf554c9e1eeba02252236dd59ab3a4a8) successfully on both .NET Framework 4.6.2 and .NET Core 2.0 as a console app.

Can you give us more information about the environment (OS, neo4j server version, whether this code connects to a remote database, etc.) and any specific config options set on Neo4j.Driver?

[2017-10-18 13:32] juicelink commented on #250
Hi @ali-ince,

Neo4j server: 3.2.1
Server os: Windows server 2012 R2
Client OS: Windows 7 Enterprise SP1
Yes the code connects to a remote database

here's my driver initialization:
`GraphDatabase.Driver(
    "bolt://host:port/",
    AuthTokens.Basic("user", "pwd"),
    new Config { EncryptionLevel = EncryptionLevel.None, ConnectionTimeout = ConnectionTimeout(3600)})`

If I use FetchAsync, it retu

[2017-10-25 11:27] AviAvni commented on #250
Hi we have this problem too from what we debug it's look like this method is the problem
https://github.com/neo4j/neo4j-dotnet-driver/blob/1.5/Neo4j.Driver/Neo4j.Driver/Internal/IO/ChunkReader.cs#L113
we alyays get in the trace that the 'read' variable is 0

[2017-10-25 12:00] AviAvni commented on #250
sorry it's in https://github.com/neo4j/neo4j-dotnet-driver/blob/1.5/Neo4j.Driver/Neo4j.Driver/Internal/IO/ChunkReader.cs#L166
when ReadAsync is task result is 0 it dosn't stop read from the stream

@zhenlineo please look at this it's blocking us from using 1.5 in production and it makes the cpu to 100%

[2017-10-25 13:16] AviAvni commented on #250
wrap the code with await session.ReadTransactionAsync(async transaction
solve the issue

[2017-10-25 13:46] ali-ince commented on #250
Hi,

We’re looking into this issue. @aviavni could you please provide us a code snippet that doesn’t work and works? And I guess you’re on .Net Framework rather than .Net Core, is it correct?

Thanks,

Ali

[2017-10-26 08:04] AviAvni commented on #250
@ali-ince
Yes working on .Net Framework

dosent work
[code]

work
[code]

same with FetchAsync

[2017-10-26 08:07] AviAvni commented on #250
also it's a problem that session is IDisposable and use CloseAsync instead of 'using' is preferred
I know that C#8 will bring IAsyncDisposable but till then please provide IAsyncSession interface that
not implement the IDisposable interface

[2017-10-26 13:07] zhenlineo commented on #250
When the driver got into this infinite read=0 loop, do you got any error on the server side?

We are currently looking into this, but not very sure how to reproduce the error. Do you have this problem to every query you run? Could you give us more hints how to reproduce it? Such as are you using direct driver or routing driver(connect to one db or cluster?) where is your server and where is your c

[2017-10-26 13:24] AviAvni commented on #250
@zhenlineo no error only 100% cpu it's happend also in the work snippet
there are times its work and time the infinit loop

we are using routing driver
the server and client(asp web api on iis) are in ec2 instances on amazon
no middle
db not under heavy load
we run the query lots of time sometimes it's not return sometime run success

as I saw in the documentation read = 0 is when the stream is fi

[2017-10-26 15:02] dopare opened #251 "'Neo4j.Driver' does not have a strong name"
Are there any plans to create strong name for Neo4j.Driver assembly ?

[2017-10-27 16:07] pjeannet commented on #250
Hi, I might have encountered something similar.
I'm sending some `USING PERIODIC COMMIT` query that can take some time to complete (around 10min). In this case code seems to hang up and never receive the result from query (both sync and async code). Is there some timeout hidden under the hook (in the driver or dotnet lib used for REST) that I would not be aware of?
I'm thinking of splitting the so

[2017-10-27 22:58] juicelink commented on #250
Want to precise that I don't have this issue with previous versions. The big queries that before were pretty fast now hang. Nothing (serveur, network, etc..) as changed in my solution except for the neo4j client version. For now I stay with 1.5.0-alpha1, the only I've tested that has async feature and doesn't freeze on big queries.
Will try to give you more details next days

[2017-10-29 20:35] ali-ince commented on #250
Hi,

@juicelink We believe that #253 addresses your issue. Will you be able to build a version from this PR and verify if it works for you?

@AviAvni With the same PR #253 (also includes #252) the infinite loop when unexpected end of stream is countered is now addressed. Will you be able to build a version from this PR and verify if it works for you? However, as @zhenlineo already said, the Stream

[2017-10-29 20:42] ali-ince commented on #250
Hi @pierre-weceipt,

There's not a client-side execution timeout and what you're trying to do should not have any problems at all. Please check #253 if it resolves your problem, verify if your code is correct and also check for any errors on the server logs. Please let us know, if your problem is not resolved.

Thanks.

[2017-10-30 09:45] AviAvni commented on #250
@ali-ince I compiled the dll and it's solve the 100% cpu please publish new version to nuget

[2017-10-30 13:40] pjeannet commented on #250
@ali-ince
Unfortunatly it did not change a thing for me, my query complete on server but result are not sent to the application. I looked into the logs and there's an error timeout :

[code]

In local the query is twice faster and manage to send results back. I don't think it's due to the driver though.

[2017-10-30 13:46] ali-ince commented on #250
Hi @AviAvni,

Thanks for the confirmation. However, before continuing with a release, we'll wait for a while for @juicelink to give it a try and whether anything new pops up.

We've released a snapshot version with #253 included through myget which you can access at [1.5.1-SNAPSHOT-1710300132](https://www.myget.org/feed/neo4j-driver-snapshots/package/nuget/Neo4j.Driver/1.5.1-SNAPSHOT-1710300132).

[2017-10-30 14:51] ali-ince commented on #250
Hi @pierre-weceipt, could you paste in your code?

[2017-10-30 15:34] pjeannet commented on #250
@ali-ince no problem :

[code]

Really basic stuff, just a bit long to run (takes around 11min to complete for the csv that timeout).

[2017-10-31 08:46] juicelink commented on #250
Hi @ali-ince ,
Tried the snapshot version.
With it, the process doesn't hang => an Unexpected end of stream exception is thrown...

It seems better, but the exception is thrown systematicly on my big request, when always with the 1.5.0-alpha-1 the error never occurs...

Same thing in sync and async

in sync error occurs here:
 [System.IO.IOException] Unexpected end of stream at Neo4j.Driver.Intern

[2017-11-02 00:01] ali-ince commented on #250
Hi @juicelink,

Can you please check your server logs for extra ordinary log entries?

Cheers.

[2017-11-04 05:14] HassanHashemi opened #254 "Session.RunAsync should support Cancelling"
it seems that[ Session.RunAsync(..) ](https://github.com/neo4j/neo4j-dotnet-driver/blob/1.5/Neo4j.Driver/Neo4j.Driver/V1/ISession.cs)dose not support cancelling which is necessary in some cases.

[2017-11-06 12:43] zhenlineo commented on #237
The current plan is only .NET framework 4.5.2 and .Net Standard 1.3

[2017-11-06 13:16] #234 closed

[2017-11-06 13:17] zhenlineo commented on #237
Right now as we moved to async, we cannot support 3.5 in newer driver version.

[2017-11-06 13:17] #237 closed

[2017-11-06 13:43] zhenlineo commented on #212
We think this error was caused by sync over async in 1.3 driver implementation. 1.5 driver fixes this issue by using sync for sync and async for async as long as it is possible.

In 1.5, if you are on .net standard 1.3, then we recommend to use async driver API. (The socket lib does not provides us a sync impl therefore we have to wrap sync driver API on top of async socket implementation.) If you

[2017-11-06 13:43] #212 closed

[2017-11-08 09:52] juicelink commented on #250
HI @ali-ince ,

I got this exception server side:
2017-11-08 09:50:35.404+0000 ERROR [o.n.b.t.SocketTransportHandler] Fatal error occurred when handling a client connection: An existing connection was forcibly closed by the remote host An existing connection was forcibly closed by the remote host
java.io.IOException: An existing connection was forcibly closed by the remote host
	at sun.nio.ch.Sock

[2017-11-08 17:15] juicelink commented on #250
The exception is thrown in The ChunkReader.cs after the line:
read = _downStream.Read(_buffer, _lastWritePosition, _buffer.Length - _lastWritePosition)
error thrown because of read <= 0;

What is strange is that when exception occurs, _lastWritePosition is at 16384, _buffer.Length is at 16384
So we try to read 0 bytes as we are at the end of the buffer, --> read <= 0
I'm not sure we should enter i

[2017-11-09 14:53] dopare opened #255 "Integration Tests require access to enterprise database and cluster"
I was trying to run tests on my local machine and encountered few issues
 1. Test setup by [default](https://github.com/neo4j/neo4j-dotnet-driver/blob/1.5/Neo4j.Driver/Neo4j.Driver.IntegrationTests/Internals/BoltkitHelper.cs#L27) is trying to [install](https://github.com/neo4j/neo4j-dotnet-driver/blob/1.5/Neo4j.Driver/Neo4j.Driver.IntegrationTests/Internals/StandAlone/ExternalBoltkitInstaller.cs#L

[2017-11-10 13:53] zhenlineo commented on #255
Hi @dopare,

Sorry for the issue that you encountered while running tests locally. Currently the IT and TCK are running with enterprise server artifacts. Most of the integration tests should also be Okay to run with community server. The only problematic ones are the cluster tests which requires enterprise servers. I could make the driver tests to use community server and skip cluster tests for no

[2017-11-13 12:52] juicelink commented on #250
- tried on a local database with same result.
- tried at home with randomly generated data and I didn't reproduce.
=> seems related to data but:
- the error never occurs at the same place
- removed properties and relations from requested nodes but same error occurs.

[2017-11-14 14:43] ali-ince commented on #250
Hi @juicelink,

The rest of this issue, apart from the fixes we've made earlier in the driver, is found to be related with memory consumption of the server. It is the server that terminates connections based on an OutOfDirectMemory exception, and it is the point where client receives an unexpected end of stream. You can tune server's memory limits through `neo4j.conf`.

We've addressed this memory

[2017-11-14 14:44] #250 closed

[2017-11-14 15:17] pjeannet commented on #250
Hi @ali-ince, do you include in your statement the strange `connection timeout` that I pasted before?

[2017-11-15 17:15] ali-ince commented on #250
Hi @pierre-weceipt,

As we could not be able to reproduce it, I am sorry to say that our previous reply does not apply to your issue.

We'll appreciate if you can provide us with the steps to reproduce your problem and create a new issue.

Thanks,

Drivers Team

[2017-11-16 14:22] d0pare commented on #255
PR #258 will fix the issue.
Thanks @zhenlineo

[2017-11-20 14:40] #255 closed

[2017-11-21 08:21] NivTikolski commented on #250
@ali-ince
hi,
just want to ask when the 1.5.1 driver version will be released.

Thanks,
Niv. :)

[2017-11-21 08:57] zhenlineo commented on #250
Coming this week soon.

[2017-11-28 22:36] mwherman2000 opened #262 "Unable to retrieve CREATE / RETURN nodes and parse out their values"
Technically, when I call IStatementResult results = session.Run(...), the results.Keys array is being populated with the variable names of the nodes in the RETURN clause but I can't find a way to return the Nodes themselves.

Attached is a very simple .NET 1.5.2 console app using the current version of the .NET Client bolt driver.

[Neo4jClientTest2.zip](https://github.com/neo4j/neo4j-dotnet-drive

[2017-11-28 23:26] mwherman2000 commented on #262
When I used a MATCH statement, I was able to retrieve and parse multiple IRecords.  I don't know if this is a bug/problem only when a CREATE statement (i.e. the nodes in the RETURN statement are not returned?).

Here is a working, more comprehensive C# sample.

[Neo4jClientTest2Works.zip](https://github.com/neo4j/neo4j-dotnet-driver/files/1511968/Neo4jClientTest2Works.zip)

[2017-11-28 23:26] #262 closed

[2017-11-29 10:30] zhenlineo commented on #262
Hi @mwherman2000,

I had a quick look at your code. I think the reason that you have some problem with your queries is that the `Result` in this driver is streaming. We also designed it in a way that if you does not hold a copy of it, you could only iterate the records in the result stream once.

If your first code example. In line 20, where you have this
```Console.WriteLine("Result: " + results.

[2017-11-29 12:17] mwherman2000 commented on #262
Thank you for the clarification, Zhen. Your explanation was very useful.

[2017-11-30 19:58] rdehuyss opened #264 "PackStreamWriter cannot write DateTime's"
When trying to save an object with a DateTime in it, I receive the following error
[code]

[2017-12-01 09:55] zhenlineo commented on #264
Hi @rdehuyss,

This driver only supports [Cypher types](https://neo4j.com/docs/developer-manual/3.3/drivers/cypher-values/).

Therefore this error is a expected behaviour. In order to save Date type, you probably want to convert it to a supported Cypher type before passing it to the driver.

Zhen

[2017-12-02 17:35] RMKD opened #265 "Documentation for how to parse results"
This driver could really benefit from some more documentation (both in the readme and nuget) - especially in terms of parsing the result value.

[2018-02-20 11:34] birop commented on #251
+1

[2018-03-02 08:27] HassanHashemi commented on #265
yeah, this is really needed. specially since parsing result set is different based on the query result. (returning nodes, records, etc..)

[2018-03-06 16:29] lutovich opened #276 "[C# driver]Cannot break in the result foreach loop"
**Original issue**: https://github.com/neo4j/neo4j/issues/11116 raised by @ninaqms.

To help us understand your issue, please specify important details, primarily:

- Neo4j version: 1.5.2
- Operating system: windows 10
- API/Driver: .Net

Code:

[code]

- **Steps to reproduce**
- Expected behavior
If the path contains loop, then exit the current foreach. The app consume to handle the next sg.

- A

[2018-03-13 16:58] arturosevilla commented on #179
On some installations, even if you update Windows Server 2008 R2 and follow the TLS 1.2 activation instructions the same `Win32Exception` will be thrown. I have painfully detected that you need two KBs to be installed in those cases.

Make sure both KB3140245 and KB2888853 are installed, and also follow the TLS 1.2 activation within regedit.

[2018-04-11 15:23] zhenlineo commented on #276
Tested with the following code:
[code]
Did not see any problem. So maybe related to Cypher instead such as nodes(paths) returns infinite results or result really slow to compute answer.

So please either re-open the Neo4j issue at the Neo4j repo or give more information about where the execution hangs and if any result comes back to client or not.

[2018-04-11 15:26] zhenlineo commented on #264
Temporal type support added in this driver since https://github.com/neo4j/neo4j-dotnet-driver/pull/281

Please follow on news about Neo4j 3.4 releases and 1.6 driver releases where DateTime parameter type support would become available in Cypher.

[2018-04-11 15:26] #264 closed

[2018-04-12 15:32] zhenlineo commented on #265
#290

[2018-04-27 23:11] ali-ince commented on #251
Hi @dopare & @birop,

I would like to inform you that we now have a strong named snapshot version of the driver available on myget. The old nuget package named `Neo4j.Driver` will continue as it is, where our new nuget package named `Neo4j.Driver.Signed` will contain a strong named version.

As expected, these nuget packages are mutually exclusive.

You can try the snapshot release through our [sn

[2018-04-27 23:11] #251 closed

[2018-05-02 12:29] zhenlineo commented on #265
Hi @RMKD and @HassanHashemi,

Sorry for the long waiting. We've added more content in our project readme for [parsing results](https://github.com/neo4j/neo4j-dotnet-driver#parsing-result-values).

Thanks very much for your feedback.

Regards,
Zhen

[2018-05-02 12:29] #265 closed

[2018-05-31 16:40] GreenGood opened #307 "Big requests error"
When running the following code
[code]
with request from attached file i got a error
[code]
Same request executes fine in browser
[request.txt](https://github.com/neo4j/neo4j-dotnet-driver/files/2059146/request.txt)

.Net Framework 4.7

[2018-06-01 11:23] ali-ince commented on #307
Hi @GreenGood,

I've tried executing the statement you've provided on a 3.3.5 server and 1.6.1 driver without running into any kind of problems.

Could you please provide more information about your environment, including;

1. What version of database are you running?
2. What version of driver are you using?
3. Is the database you're running against is local or remote? If it is remote, can you ple

[2018-06-01 14:17] GreenGood commented on #307
1. 3.4.0 Community Edition
2. 1.6.1
3. I`am using local database.

After executing request against empty new database I`ve also found this in neo4j logs

[code]

[2018-06-01 16:36] ali-ince commented on #307
Hi @GreenGood,

We've been able to reproduce the problem and created a server side fix [#11918](https://github.com/neo4j/neo4j/pull/11918) for that.

In the meantime, you can try to shorten your query text to get below 65535 bytes (maybe by removing redundant white-space) to get it running.

Thanks for reporting this issue.

[2018-07-26 13:56] NivTikolski opened #312 "UnobservedTaskException - version 1.6.1"
i have a problem with the new driver.
we have cluster(3 instances), neo4j 3.4.4. current dotnet driver 1.5.2
when i upload our's code with the new driver version we get this error:

UnobservedTaskException detected:
System.NullReferenceException: Object reference not set to an instance of an object.
   at System.Web.ThreadContext.AssociateWithCurrentThread(Boolean setImpersonationContext)
   at Sy

[2018-07-27 08:20] zhenlineo commented on #312
Hi @NivTikolski,

Could you give us more information of how you used the driver in your code? Do you have some example code to reproduce this error?

The stacktrace you give is a bit too general for me to understand the possible causes.
For example, I am not sure which object is null and how you used the object in your application.
Also what .net framework your application is running, what methods

[2018-07-27 12:14] NivTikolski commented on #312
@zhenlineo
i know the stack trace is general because its not coming from our code, this is the stacktrace the delegate caught.
.net 4.6.1
i tried to reproduce it, i have no idea how, i just know that the same code works with 1.5.2 and not working with 1.6.1
how i use the driver? i show you some samples of code:
[code]

the read function:
[code]

i keep trying to reproduce it, but i hope you can lo

[2018-07-31 07:16] ali-ince commented on #312
@NivTikolski Could you please set an event handler for `UnobservedTaskException` through `TaskScheduler.UnobservedTaskException`? This will provide more valuable information about the root cause of the error.

Thanks.

[2018-07-31 07:27] NivTikolski commented on #312
@ali-ince
i have this...
in global.asax.cs at the application start:
`TaskScheduler.UnobservedTaskException += TaskScheduler_UnobservedTaskException;`

[code]

and the error i added is from here. believe me i tried everything i know to get more information about the error, nothing tells me from where it is or what cause it.
if you have any idea how to get more information i will be happy to hear.

[2018-08-06 07:15] NivTikolski commented on #312
@ali-ince
@zhenlineo
i solved the issue, i don't know exactly where is the problem with 1.6.1 driver but it is something with the changes of the ConfigureAwait(false) you did from 1.5.2

i add to the start of our Read/Write functions `await Task.Delay(1).ConfigureAwait(false)`  and it solved the problem, i think you need to think why it happens and dive deep to this, because i think it will happen

[2018-08-07 13:49] xied75 commented on #312
If the big change between 1.6.1 and 1.5.2 is indeed the usage of ```ConfigureAwait(false)```, then it might explain the exception, since the OP is running this within a ASP.NET framework, and the threading model is different here.

https://msdn.microsoft.com/en-us/magazine/gg598924.aspx
http://blog.stephencleary.com/2012/07/dont-block-on-async-code.html

[2018-08-09 21:54] CaulyKan opened #315 "empty logger output at debug level"
Neo4j.Driver Version: 1.6.1
Neo4j Version: 3.4.0

How to reproduce:
[code]

Excepted:
As documented, "When setting log level to Debug, besides all logging recorded by Error and Info, all bolt messages sent between driver and server are also logged in plain text."

Actual:
[code]

[2018-08-09 22:34] ali-ince commented on #307
Closing the issue as the fix is already part of the latest 3.4 releases.

[2018-08-09 22:34] #307 closed

[2018-08-09 22:52] ali-ince commented on #312
Hi @NivTikolski,

`UnobservedTaskException` is only thrown when the unobserved task with failure is garbage collected, so it heavily depends on how garbage collector behaves. It is even possible that the event handler is not called, although an exception is thrown but the task is still referenced (which prevents it from garbage collected). This behaviour and the fact that the stack trace doesn't i

[2018-08-09 23:07] ali-ince commented on #315
Hi @CaulyKan,

The confusion is caused by lack of documentation. Actually, the parameter `message` passed to logging methods is not a format string and what is expected is to manually concatenate `message` with contents of `restOfMessage`.

In `DEBUG` level, `restOfMessage` contains object instances that need to be stringified (mostly using `ToString()` methods).

In `TRACE` level, `restOfMessage`

[2018-08-10 14:32] CaulyKan commented on #315
After some inspection into the source I found it quite difficult to get logging working easily. Thank you for your effort on this.

Feel free to close this pr or mark it as a feature.

[2018-08-13 10:59] NivTikolski commented on #312
@ali-ince
hi,
i couldn't reproduce it on my QA enviroment.
it is only reproduced on Production, i tried many things, for now we upload the driver with a little change in it, and it solved.
we take dmp file from the sever, and when the unobserved task exception happened we saw that the problem is from the TcpSocketClient(the ConnectSocketAsync function). i add `await Task.Delay(1).ConfigureAwait(fa

[2018-08-21 09:40] ali-ince commented on #312
Hi @NivTikolski,

Unfortunately we're not able to reproduce this error on our side and couldn't see a major difference that would lead to the problem in `TcpSocketClient` as you suggested.

The exception happens on finalizer (on task objects that get garbage collected) so I suspect any active stack trace that you would see on the dump file would be a pointer.

If you could provide more information

[2018-08-21 10:33] NivTikolski commented on #312
as i said, if i ass something more for you i would give that of course. we waste our time too much on that already, we using for now a custom driver dll with the fix i wrote the comment before.
i gave the function that cause the issue, from here i cant find nothing more :\

thanks.

[2018-08-28 16:13] xied75 opened #318 "Design question: Stream and Linq?"
Per the documentation:

result.First(); // Selina Kyle as you already consumed the previous "first" record!

We do understand that if the Result was supposed to be treated like a __Stream__, in that you can consume parts when it's ready without needing to wait the whole thing materialized from wire; also each part can only be consumed once, (without Seeking of cause).

But doing Linq on this Strea

[2018-10-03 00:58] thibault-reigner opened #326 "Counter-intuitive behavior of DisposeSessionResult"
Currently, disposing a session automatically triggers the consumption (and in-memory storing !) of any remaining results :

[code]

If I am not mistaken it is because in the Bolt protocol, as soon as PULL_ALL has been started, there is no way to inform the server that the pulling can be cancelled.

However, for a use on production, where lazy evaluated / streaming based code is required it is not

[2018-10-03 08:29] zhenlineo commented on #326
Hi @thibault-reigner,

Have you tried with the method [`Statement#Consume`](https://github.com/neo4j/neo4j-dotnet-driver/blob/1.7/Neo4j.Driver/Neo4j.Driver/V1/IStatementResult.cs#L55)?

[code]
Will this solve your problem?

[2018-10-03 09:44] thibault-reigner commented on #326
@zhenlineo I will give it a try but it solves only a part of the problem : the memory consumption. At the end there is still network and processor time wasted by the consuming process.

[2018-10-03 10:15] zhenlineo commented on #326
@thibault-reigner Right, we will think about this feature in future releases.

[2018-10-04 08:48] zhenlineo commented on #315
Hi @CaulyKan
Thanks for bring up this issue. We've improved our logging in 1.7 pre-releases. The new logging used 1.7 series is called `IDriverLogger`.

Here is an example code that you can use to integrate the new `IDriverLogger` with `Microsoft.Extensions.Logging`
[code]

Pls let us know if you have any feedback about the new logging we added for 1.7.

Cheers,
Zhen

[2018-10-04 09:55] zhenlineo commented on #318
Hi @xied75,
Thanks for your feedback, the reason to settle down on this API was a balance between convenience and correctness.

We thought of just implementing `IEnumerator<T>`:
[code]
But also we greedily want to have great `Linq` methods for free if we implements `IEnumerable<IRecord>`. Then we end up implementing `IEnumerable<IRecord>`.

In most cases, especially only one iteration of the strea

[2018-10-08 11:07] zhenlineo commented on #326
We are looking into a react API for this driver which will probably solve the problem totally.

[2018-10-09 10:43] ali-ince commented on #318
Hi @xied75,

Since our `IStatementResult` is defined as a stream of records, rather than a collection of them - as you're already aware of - creates enumerators over a changing record set. Exposing the result stream with an `IEnumerable` brings in better integrity with the existing language features which drove us to that decision.

Returning consistent results across `IEnumerable` calls, like in

[2018-10-09 10:43] #318 closed

[2018-10-09 10:54] technige commented on #326
Hi @thibault-reigner

Bolt itself does not (yet) support flow control. This is on our roadmap, but for the time being, the only option available at protocol level is to stream back the entire result.

This therefore requires applications to be aware of this limitation and plan queries well enough ahead, wherever possible, such that discarding large parts of a result is an exceptional, not routine,

[2018-10-09 10:59] technige commented on #254
Hi @HassanHashemi

Could you clarify whether your expectation here is cancellation of an active transaction or discarding the remainder of a result stream, after some records have been consumed.

[2018-10-09 11:10] xied75 commented on #318
@zhenlineo @ali-ince Thanks for the reply. Just want to repeat, what I was concerned, is more on the "correct abstraction", especially around what 99% C# programmers believe or understand. If an abstraction is bent too much, it might not be suitable at all. This is really where the difficulty lies in API design.

Thanks for the good work, keep going... 👍

[2018-10-09 11:11] thibault-reigner commented on #326
@technige Thank you for the explanations.
 As I suspected in my first message, and you confirmed, the issue is in the Bolt protocol for the moment (no flow control).
Regarding the memory consumption, as of today, buffering everything and then discarding the whole buffer is the default behavior of the stream returned by Run (hence creating a potentially massive memory pick). So though it is possibl

[2018-10-09 11:30] technige commented on #326
What kind of Cypher queries are you running?

[2018-10-09 11:56] HassanHashemi commented on #254
@technige Both of what you said makes sense, Though i am aware that first one requires more server side logic.

The fact is that some Neo4j queries are just slow and there is really no way to improve them, So at least being able to cancel it is a great feature.

[2018-10-09 12:14] ali-ince commented on #156
Hi @Genome8,

We will be closing this issue as it is not really an issue and have been open for quite a long time. We suggest you either create a gist or a repository for the sample code to be used by others.

Thanks again for your time.

[2018-10-09 12:14] #156 closed

[2018-10-23 17:55] aviatrix commented on #318
Hey All,

I just got started with neo4j and the C# driver, and i must say I am baffled and confused by this design choice.
Why would a simple `.Count()` discard all the entries of a result?
Why would iterating over a `IEnumerable` discard all the results by default?
This behaviour mimics quantum physics in a way... you changethe state by simply observing it.

Now.. all is made clear when it's expl

[2018-10-31 09:50] zhenlineo commented on #315
@CaulyKan The 1.7 with the new logging is release.

[2018-10-31 09:50] #315 closed

[2018-10-31 10:41] CaulyKan commented on #315
Thank you very much!

[2018-11-06 08:52] simendsjo opened #329 "`The Read method cannot be called when another read operation is pending.`"
Sometimes we get the following in our test-suite when running lots of parallel
tests through Neo4jClient.

The tests seems to hang for a long time before the following exception is
thrown. I suspect a timeout on the socket as it takes a long time. Looks like
some sort of race-condition.

Not really sure how to best create a reproducible case... We basically do:

[code]

[code]

[code]

[2018-11-06 09:27] simendsjo commented on #329
I get other similar errors too:

[code]

[2018-11-08 13:46] ali-ince commented on #329
Hi @simendsjo,

`The Read method cannot be called when another read operation is pending.` message makes me think that the `Session` and/or `Transaction` object is being used concurrently by different threads - each trying to read some data from it. `Session` and `Transaction` objects are not thread-safe and thus should not be used concurrently.

`A blocking operation was interrupted by a call to

[2018-11-08 13:46] #329 closed

[2018-11-09 02:48] thibault-reigner commented on #326
@technige Sorry for the delay. For the moment I am only using some basic queries like
MATCH pattern WHERE stuff RETURN key nodes of the pattern
But on the long run I think it would be some more complex detection done through extensions, hence the queries would become :
CALL procedure
with eventually some YIELD + cypher post-process.

[2018-11-12 19:20] ali-ince commented on #52
Hi @wiliambuzatto,

The neo4j-dotnet-driver has been targeting `.NET Standard 1.3` for quite a long time now - which makes it usable .NET Core.

Thanks,

Ali

[2018-11-16 09:22] technige commented on #326
![](https://github.trello.services/images/mini-trello-icon.png) [Flow Control, Back Pressure & Reactive Drivers](https://trello.com/c/Q74jCr78/132-flow-control-back-pressure-reactive-drivers)

[2019-01-10 23:10] neildobson-au opened #333 "Why doesn't StatementResultCursor implement IEnumerable?"
Would be more useful when enumerating results to use the standard enumerator as StatementResult does instead of using FetchAsync / Current.

Forgive me if I've overlooked something but couldn't an enumerator be implemented which simply calls FetchAsync and Yields a Current value?

[2019-01-11 05:42] nad-au commented on #333
I think I know why. async / await and IEnumerable / yield don't go well together. Happy to close if there's no further comment from the team.
I'm working on a new project [Neo4jMapper](https://github.com/neildobson-au/Neo4jMapper) and I want to find the most efficient way of asynchronously mapping the result stream without having to read the entire result as a list in memory.

[2019-01-11 16:13] zhenlineo commented on #333
Hi @neildobson-au,

Besides the async api we also provides a sync api `IStatementResult` where you have access to `IEnumerable`. The result is still lazily pulled there, so if you add callback for each record received, then you will avoid pulling the whole result into memory.

[code]

If you still want to stick to the async API, then you can still register a callback function for each record to av

[2019-01-11 16:13] #333 closed

[2019-01-28 09:50] technige commented on #312
@NivTikolski We've not been able to reproduce the issue you see. Would you be able to provide us with a minimal piece of code that can demonstrate the error for us, please?

[2019-04-25 09:29] technige commented on #312
Closing as unable to reproduce.

[2019-04-25 09:29] #312 closed

[2019-06-21 08:05] myesn opened #344 "dotnet core 2.2 how to use neo4j driver"
**Neo4j Version:** Neo4j Server version: 3.5.6 (community)
**Neo4j Mode**: Single instance
**Driver version**: .NET driver 1.7.2
**Operating System:** Windows 10 Professional

I just want to query the data, and then parse the data. The current data has been queried, but the Start, End, and Nodes properties in IRecord make me very confused. I don't know how to get the data. Can you help me? Thank y

[2019-06-21 15:49] #344 closed

[2019-08-12 20:25] Legolash2o opened #347 "Request"
Can I request to have a method get that easily get the indexes on the database.

graphClient.Cypher.GetIndexes()

It will return an array for objects such as

public class Index
{
   public string Node {get; }
   public string Property {get; }
   public bool Constraint {get; }
   ....
}

[2019-08-13 14:16] ali-ince commented on #347
We do not provide wrapper operations inside the official driver.

I assume you meant to create an issue for https://github.com/Readify/Neo4jClient?

[2019-08-13 14:16] #347 closed

[2019-08-20 02:40] JinjieZhao opened #348 "api link out of date"
In wiki -> Driver 1.7, the API Documentation is linked to https://neo4j.com/docs/api/dotnet-driver/1.7-preview, which should be https://neo4j.com/docs/api/dotnet-driver/1.7

[2019-08-20 08:52] zhenlineo commented on #348
Thank you very much for reporting this. Fixed now :)

[2019-08-20 08:52] #348 closed

[2019-10-14 18:49] #254 closed

[2019-11-19 22:04] davidwandar opened #365 "Support for connection to Neo4j Aura"
Driver version**: .NET driver 4.0.0-alpha
.Net Core 2.2 web api

It would be great if the v4-driver would support connecting to the new Neo4J Aura service, from what I understand, that is not yet supported, which would mean that I currently need to downgrade my .NET Core -version to 1.0 (lame) and use the 1.7.2-driver instead.

[2019-11-20 09:17] zhenlineo commented on #365
Hi @davidwandar ,
First a warning that the 4.0.0 drivers are still in pre-release stages, it is not yet ready for production use. You can of course using it in your development, but pls keep in mind the API is not stable yet.

Then for Aura support, the new 4.0.0 drivers shall support Neo4j Aura. We just put out a new `beta01`, could you give it a try and let us know if it works as expected?

The

[2019-11-20 13:25] davidwandar commented on #365
Thanks for the response. I just realised that Neo4j Aura appears to be running v3.5 wich would exclude itself from this driver, correct?

[2019-11-20 14:41] zhenlineo commented on #365
Hi @davidwandar,

4.0 driver supports 3.5 and 4.0 servers. But when using the driver with 3.5, you cannot use features only supported by 4.0 servers such as reactive and multi-database (database names).

Cheers,
Zhen

[2019-11-21 06:37] davidwandar commented on #365
Thanks for your help. I am now up and running on the new beta 👍

[2019-11-25 09:57] zhenlineo commented on #365
Hi @davidwanda,
I am closing this issue as it seems your problem has been solved. Let us know if you found anything while using this driver.

Cheers,
Zhen

[2019-11-25 09:57] #365 closed

[2019-12-09 07:22] pauldorehill opened #380 "ResultConsumedException when using Transaction functions rc1 driver"
**Neo4j version:** 3.5.11 Community
**Neo4j Mode**: Single instance
**Driver version**: .NET driver 4.0.0-rc1
**Operating System:** Windows 10

### Steps to reproduce
1. Start Neo4j locally using Neo4j Desktop
2. Start any graph - I've used the Movie Graph with `user : "neo4j"`, `pwd : "1234"`
3. Run the below:

[code]

### Expected behavior
The second query using `session.ReadTransactionAsync( ..

[2019-12-09 08:48] zhenlineo commented on #380
Hi @pauldorehill,

This is the expected behaviour. The transaction result cannot be accessed after a transaction is closed. When using a transaction function method (such as ReadTransactionAsync), before exiting from the function, the transaction will be automatically closed. Thus you cannot have access to the result outside of transaction function.

In previous versions, we allow the result to be

[2019-12-09 08:48] #380 closed

[2019-12-09 09:49] human-bean-555 commented on #380
Hi @zhenlineo,

Thanks - that does make more far more sense in the context of the 4.0 driver.

[2019-12-18 17:31] MPasadu opened #382 "Any instruction on how to upgrade to 4.0.0 ?"
When just updating the nuget package, a lot of old code is no longer working. What we find so far is that the old ISession is no longer recognized.

What confuses me is, that the online API documentation still shows ISession but it's not found when using the nuget package.
Should we migrate all our codebase to IAsyncSession?

[2019-12-19 09:04] zhenlineo commented on #382
Hi @MPasadu,

Sorry for the confusion. The `ISession` still exist, but it is located in a different package: https://www.nuget.org/packages/Neo4j.Driver.Simple/
To use our Simple session API, you need to have `Neo4j.Driver` and `Neo4j.Driver.Simple` installed.

The full driver includes
https://www.nuget.org/packages/Neo4j.Driver/
https://www.nuget.org/packages/Neo4j.Driver.Simple/
https://www.nuge

[2019-12-19 15:55] MPasadu commented on #382
@zhenlineo
thank you for the great support!
I will look into these packages.

[2020-01-02 15:16] technige commented on #382
Closing this issue as the original question has now been answered.

Separately, a driver upgrade guide is still pending.

[2020-01-02 15:16] #382 closed

[2020-01-02 15:18] technige commented on #326
Closing this issue as flow control has now been implemented in the reactive drivers (4.0).

https://www.nuget.org/packages/Neo4j.Driver/4.0.0

[2020-01-02 15:18] #326 closed

[2020-01-23 18:07] andreycha opened #386 "[Suggestion] TransactionConfig can be made internal in 4.0.0?"
Hi,

As version 4.0.0 of the driver now favors usage of `TransactionConfigBuilder` and there is no public API which accepts or exposes `TransactionConfig`, it seems like it can be made internal. Although formally it's a breaking change, in fact it should not affect anyone.

**Driver version**: .NET driver 4.0.0

[2020-01-23 18:18] andreycha opened #387 "Transaction metadata can be reused between transactions"
Hi,

We started to use `TransactionConfig` in 1.7.x driver to specify some metadata. Here's our code:

[code]

From the first run it became obvious that it's incorrect, because we started to get an exception `"System.ArgumentException: An item with the same key has already been added."`. Checking the source code showed that when one creates `TransactionConfig` metadata is initialize by static empt

[2020-01-27 09:46] technige commented on #387
Hi @andreycha. Thanks for raising this. It looks like a bug. We have added to our backlog to address this.

[2020-01-27 09:47] technige commented on #386
Related to #387

[2020-01-27 13:35] andreycha commented on #387
Hi @technige . Thanks for confirming. I could open PRs for 1.7 and 4.0.0 if you want.

[2020-02-14 10:30] cbhoitv-git commented on #52
I found GraphQA => Cypher query converter for Java and Javascript.
But didnt find any library in .net core library which will convert GraphQA => Cypher query (Neo4j 4.0)?

[2020-03-05 19:59] nimasTT opened #394 "Outdated Tutorial and Examples"
neo4j .Net examples f.e. here https://neo4j.com/developer/dotnet/ or in your GitHub repository are outdated. The API's doesn't exist anymore. Can you please provide some new examples?

[2020-03-12 09:58] AbhishekTripathi opened #395 "How to see the Query getting executed"
This is more of a feature request even though I wonder why it is missing in the first place. I have long complicated cypher queries. I was using Readify's client for neo4j but since that is not well maintained (based on commit history), I decided to start using the official drivers. The problem I have is that I can't see the query which is getting executed. **I want to be able to see the cypher qu

[2020-03-13 08:46] zhenlineo commented on #395
Hi @AbhishekTripathi
You can use our logging on DEBUG level to see the query that get executed following this [guide](https://github.com/neo4j/neo4j-dotnet-driver#logging).

You can also log yourself before passing the [Query](https://github.com/neo4j/neo4j-dotnet-driver/blob/4.0/Neo4j.Driver/Neo4j.Driver/Query.cs) to the session to [run](https://github.com/neo4j/neo4j-dotnet-driver/blob/4.0/Neo4j

[2020-03-13 09:56] zhenlineo commented on #394
Hi Thanks very much for reporting this to us.
The example still works, but you need to install:
[code]

[2020-03-13 12:17] AbhishekTripathi commented on #395
The suggestion of using an implementation of ILogger is helpful. However, it is not useful in all scenarios as it may require custom plumbing for projects where the target platform is the full framework. I would look into it and it might be useful for the under the hood operations going in the library.
Logging the query myself is not going to work and I think you missed the point here. What I want

[2020-03-13 13:13] zhenlineo commented on #395
Hi @AbhishekTripathi ,

This driver never alter the cypher query you put in. Whatever query you give to the driver, the driver will send the query as how it is given. It will not do any auto filling or change the query text ever. This driver never inspect the query, so it cannot give you a modified cypher query back.

[2020-03-13 13:18] AbhishekTripathi commented on #395
Okay, I see it. The Readify client is also approximating the final query with substitution of parameters without escaping. It makes sense why it wouldn't be the responsibility of the driver itself. I will close this issue.

[2020-03-13 13:18] #395 closed

[2020-03-16 13:14] zhenlineo commented on #387
Hi @andreycha ,

In 1.7, we expect users to always config tx meta data with a new dictionary:
[code]
The reason of this design probably was to avoid creating a dictionary for each new TransactionConfig on creation. As we estimated that most users may not use transaction metadata.

Sorry for not coming back for a long time.
Pls be free to re-open this issue if you have further questions.

[2020-03-16 13:14] #387 closed

[2020-03-17 10:58] zhenlineo commented on #386
We've added this PR https://github.com/neo4j/neo4j-dotnet-driver/pull/399 to actually to allow users to access to TransactionConfig after created in case anyone would like to read the config after it is created.

[2020-03-17 10:58] #386 closed

[2020-04-10 18:01] muzos07 opened #404 "Long queries in new 4.0 version of Neo4j dotnet driver - IO exception?"
I'm trying to run a very simple, yet time consuming query in this C# snippet:

![image](https://user-images.githubusercontent.com/30979983/79012193-03de4380-7b66-11ea-9f4d-a75077983e03.png)

As you can see, I just prepare apoc.import.csv query, which I asynchronously execute inside a transaction.

This code I execute (using Mono) on the same Unix system as the Neo4j (4.0.3) database is installed.

[2020-04-14 08:26] zhenlineo commented on #404
Hi @muzos07,

How long it takes to run your query? Can you share your server side config file with us? Is there anything in your network such as firewall, container settings that may kill idle connections?

Cheers,
Zhen

[2020-04-14 10:24] Muzosh commented on #404
Hello,

_How long it takes to run your query?_
I'm not certain for sure (I usually run it overnight, I'm timing it right now) but I't definitely in range of hours. I will update this post with the time.

All of those csv files have 1,79GB in total. When I run the same code for lower amount of nodes (all csvs about 50 MB in total), the query finishes just fine.¨

Also one thing to note: all the que

[2020-04-14 10:53] zhenlineo commented on #404
Hi @muzos07,
Is there any error in server logs when the query failed on client?

[2020-04-14 11:16] Muzosh commented on #404
[debug.log](https://github.com/neo4j/neo4j-dotnet-driver/files/4474899/debug.log)

In attached file are all logs from the exact time I tried to start an empty database until occured errors.
I see bunch of apoc procedures failed to load (which is weird since I use newest version compatible with Neo4j 4.0 version), but the final error is about some mismatching store id.

The database was freshly sta

[2020-04-14 12:34] zhenlineo commented on #404
Hi @muzos07,

Is it always takes around 30 mins that your query starts to fail with dotnet and/or cypher-shell?

The mismatch store id might because you deleted neo4j folder in your file system. You shall try to run cypher query to delete old database. e.g. `DROP database neo4j`

[2020-04-14 12:52] Muzosh commented on #404
Yes, it takes around 30 mins

[2020-04-14 13:24] zhenlineo commented on #404
@muzos07
I would suggest you check if your local os has some timeout restrictions on idle TCP connections. It is highly suspicious that connections always get killed after 30mins. Currently we have SO_KEEP_ALIVE enabled by default, but many platforms still kill connections if no data in application level after certain timeout. The current server/driver does not support application level ping messa

[2020-04-14 13:39] Muzosh commented on #404
Ok thank you very much for the tips, I will lead on that.

On the other hand, will you please look at my C# snippet from the first message here and maybe recommend me some other way to execute this query? Or is this simple and efficient enough (using just session.RunAsync(query)).

I don't need to return any data from dotnet driver, just ensure the import was successful

[2020-04-14 13:46] Muzosh commented on #404
How would I "load the csv file directly without the driver to neo4j."? What do you mean by that?

[2020-04-16 13:30] Muzosh commented on #404
Ok I decided to take another approach in my project.

I no longer use csv and will use this driver to directly create nodes with "CREATE ()" queries.
You can consider this issues as closed.

[2020-04-17 21:02] muzos07 opened #411 "System.ArgumentOutOfRangeException while creating session"
I'm getting exception while trying to initialize simple synchronous session

**Neo4j Version:** 4.0.3 Community
**Neo4j Mode**: Single instance
**Driver version**: .NET driver 4.0.1
**Operating System:** Windows

### Steps to reproduce
1. Create .NET project, install Neo4j.Driver and Neo4j.Driver.Simple using nuget package manager
2. Copy code from screenshot
3. Run Neo4j server on localhost
3. Ru

[2020-04-17 21:03] #404 closed

[2020-04-17 21:11] Muzosh commented on #411
Nevermind Im stupid, method Initialize has not been called, closing

[2020-04-17 21:11] #411 closed

[2020-04-19 16:32] MPasadu opened #412 "Parallel tasks writing merge statements create duplicate nodes"
- Neo4j version: Neo4j Server version: 4.0.0 (community)
- Neo4j Mode: Single instance
- Driver version: .net driver 4.0.1
- Operating system: Windows 10 Pro, Docker

I was playing around with parallel tasks. Using something akin to the following code:

[code]

Which results in a lot of :Test nodes being duplicates with the same value property. I think this is to be expected because sessions and t

[2020-04-20 14:37] cskardon opened #413 "Driver 4.x incorrectly reports it's user-agent"
**Neo4j Version:** 4.0.3 Enterprise
**Neo4j Mode**: Single instance
**Driver version**: .NET driver 4.1/4.0
**Operating System:** Windows 10

## Issue
Driver 4.x incorrectly reports it's user-agent.

### Reproduce

1. Turn on `query.log`
2. Run the following against either `4.0` or `4.1`:

[code]
### Expected

You should see something like:
[code]
### Actual
In the `query.log` you will see:
[code]

[2020-04-21 11:12] #413 closed

[2020-04-28 12:04] SpaghettiFactory opened #419 "Query parameters contain old entries when creating a new query"
When creating a new query object, it contains parameters of previous queries:

**Driver version**: .NET driver 4.0.1

### Steps to reproduce

Run this

[code]

### Expected behavior

I expected the second query to have no parameters.

### Cause (I guess)

There is a constructor on the query object that looks like this:

[code]

It seems that this line:
[code]

Creates a reference to the static NoP

[2020-05-04 09:15] AndyHeap-NeoTech commented on #419
Thank you for raising this issue.  It does look like this behaviour is not what was intended, I will investigate.

[2020-05-04 09:30] AndyHeap-NeoTech commented on #412
Hi MPasadu. You are correct in thinking that this is the expected behaviour. Because the multiple merge statements are each being run in a new session they are in separate transactions and the server will be running them in parallel. This means that the ordering/timing of the merges is not guaranteed and you will see the results that you are getting.  To successfully run the merges you would want

[2020-05-04 09:30] #412 closed

[2020-05-11 11:53] andreycha commented on #387
Hi @zhenlineo ,
I see, thanks for the explanation. Probably it makes sense to put a note in the documentation.

[2020-07-12 17:23] bnayae opened #433 "Abstract interfaces into different assembly"
I suggest to split interfaces like: IResultCursor, IRecord, IResultSummary
into different assembly in order of being more dependency injection friendly.

I would like to abstract the handling of the query result without being coupled to the assembly of the implementation.

[2020-07-13 11:00] #419 closed

[2020-07-17 08:54] AndyHeap-NeoTech commented on #433
Hi bnayae,
Thank you for the suggestion, I will discuss this with the team and get back to you with our thoughts.

[2020-07-27 02:43] ZyCoderVs opened #436 "Failed to establish encrypted connection with server bolt"
## Failed to establish encrypted connection with server bolt

my server is windows server2012,dll version is  1.7.226.2
wrong is :

[Win32Exception (0x80004005): 给函数提供的标志无效]

[AuthenticationException: 调用 SSPI 失败，请参见内部异常。]
   System.Net.Security.SslState.StartSendAuthResetSignal(ProtocolToken message, AsyncProtocolRequest asyncRequest, Exception exception) +2415953
   System.Net.Security.SslState.P

[2020-08-04 10:15] AndyHeap-NeoTech commented on #436
Hi ZyCoderVs.  If the google translate of the error is correct: "Failed to call SSPI, see internal exception", then this looks like it might be an issue with the security certificate/setup on the server. Do you have any errors if you use an unsecured connection?

[2020-08-08 16:08] samgerene opened #437 "Method cursor.ToListAsync() does not complete when result is large"
**Neo4j Version:** 4.1.1 Community
**Neo4j Mode**: Single instance
**Driver version**: .NET driver 4.1.0
**Operating System:** Docker Container

## bug report

The `var records = await cursor.ToListAsync();` never completes using the following query

[code]

on the following graph:

![Graph](https://github.com/samgerene/neo4j-net-driver-test/raw/master/graph.svg?raw=true "Graph")

I have created a

[2020-08-10 09:14] AndyHeap-NeoTech commented on #437
Hi samgerene. I'll take a look and see if I can reproduce and debug the issue using the test repository you have supplied (very useful thank you!).

[2020-08-10 14:29] AndyHeap-NeoTech commented on #437
I've not had any success in reproducing this issue locally using your sample project. The code has successfully created the list when connecting to both a 4.1.1 desktop Neo4j db, and a docker image 4.0.0 Neo4j db. I'm currently looking into if the issue might be that you are creating the list directly from the cursor.  Could you try changing that line to the following to see if it works:

var reco

[2020-08-10 14:49] AndyHeap-NeoTech commented on #437
To expand on my previous answer. The code snippet I gave is how the list is created internally in the extension method ToListAsync of the IResultCursor interface. In doing it explicitly in your code we will be able to see if it is successfully adding any records and how many.

[2020-08-10 18:53] bcargill commented on #437
Have you tried reverting the driver to 4.0.2?  We are experiencing a similiar problem with large result sets... seems to go away when we drop back to the 4.0.2 version of the driver.  Trying to figure out a repro scenario on a fake database.

[2020-08-11 05:52] samatstariongroup commented on #437
Hi, In previous code i did the same thing and the issue was the same.

[2020-08-11 05:52] samatstariongroup commented on #437
I will give that a try

[2020-08-11 05:54] samatstariongroup commented on #437
i see a difference in setup, i am using docker neo4j **4.1.1** and not **4.0.0**, could that make a difference?

[2020-08-11 07:23] AndyHeap-NeoTech commented on #437
I'm not sure that it would, but I will be doing the test with 4.1.1 in docker this morning. Are you running a Linux container or a Windows container in docker? Could you also supply some timings from the log file of some runs with the sample project, just to see if it is very different from what I am seeing here.

[2020-08-11 09:06] samgerene commented on #437
I am using Docker Desktop Community in windows 10 using Linux containers

I used the following command to start the NEo4j docker container

[code]

![image](https://user-images.githubusercontent.com/3648129/89878830-61d97100-dbc2-11ea-8211-ea3595425562.png)

[2020-08-11 11:02] AndyHeap-NeoTech commented on #437
It looks like the issue is caused by the 1GB size of the pagecache and heap size. With these settings I was able to reproduce the issue in the test project locally. Upping both to 2GB fixed the issue. I've not yet run tests to figure out which of the two is causing the issue, or if it is both together. Please try running with parameters of 2G to see if it fixes the problem for you as well.

[2020-08-11 11:04] samgerene commented on #437
Hi, good to hear you were able to reproduce the issue, I will try with 2GB on both settings to see if the problem remains on my side.

[2020-08-11 15:05] bcargill opened #440 "Large result set can cause the 4.1.0 of driver to hang while iterating resultset"
- Neo4j version: Community 4.1.1
- Neo4j Mode: Single instance
- Driver version: dotnet 4.1.0 (4.0.2 seems to work)
- Operating system: Windows 10 with neo4j in docker

see git readme.md below for docker/neo4j config
**repro example** https://github.com/bcargill/Neo4jLargeResultBug

Project has 3 unit tests:
**Step1_CreateTestData**:   creates the data
**Step2_RunTest**:  runs the test
**Step3_Del

[2020-08-12 08:44] samgerene commented on #437
@AndyHeap-NeoTech  I updated the configuration to 2G for both settings as suggested. I also added an extra test method to make use of `FetchAsync()` instead of  `ToListAsync()`. I am sorry to have to report that the issue remains. I do have new behaviour. When i debug the test, so step into the method, then it works. But when i just run the test it does not complete and I have the behaviour I repo

[2020-08-12 08:53] AndyHeap-NeoTech commented on #437
Thank you for the feedback. I will attempt to reproduce this new behaviour as well so that I investigate it further.

[2020-08-12 08:56] samgerene commented on #437
I just downgraded to version 4.0.2 of the driver and now it works as expected, that code is on a separate branch https://github.com/samgerene/neo4j-net-driver-test/tree/driver-version-4-0-2. For the project that I am working on I will downgrade the driver to version 4.0.2 and once this issue is resolved i hope to be able to upgrade to the latest version

[2020-08-12 10:44] AndyHeap-NeoTech commented on #440
Hi bcargill. Thank you for raising a separate issue, this looks highly likely to be related to https://github.com/neo4j/neo4j-dotnet-driver/issues/437 that you have commented on, but is good to track them separately. I will update both issues as I work on figuring out what the underlying cause is.

[2020-08-12 11:30] bcargill commented on #440
Agreed, #437 seemed to be solved by upping the memory settings so I thought this might be different (and I had the repro code).  Feel free to close this issue if you want.  Perhaps an additional clue, running the repro case against neo4j running through NeoDesktop on windows does NOT show the issue for me on driver v4.1.0.  Also, making the records smaller seems to increase the number of records i

[2020-08-14 08:44] samgerene commented on #440
In my opinion #437 is not yet fixed, I verified on my side with increasing the memory as suggested did not resolve the problem. Using a previous version of the driver does _resolve_ it and that is how I will continue with my project for now.

[2020-08-14 09:04] AndyHeap-NeoTech commented on #440
Hi samgerene, You are correct, the fix for #437 and this issue is currently in progress, I'm hoping to have an update today.

[2020-08-18 09:04] AndyHeap-NeoTech commented on #437
Hi @samgerene.  I have a potential fix for this issue in a fork. Would you be willing test the fix against your local setup?
It has passed everything here, but I would also like to test it against the 'original'.  If you are willing then please get the fork from https://github.com/AndyHeap-NeoTech/neo4j-dotnet-driver and use the Neo4j.Driver.csproj as your dependency rather than the Nuget package.

[2020-08-18 09:04] AndyHeap-NeoTech commented on #440
Hi @bcargill.  I have a potential fix for this issue in a fork. Would you be willing test the fix against your local setup?
It has passed everything here, but I would also like to test it against the 'original'.  If you are willing then please get the fork from https://github.com/AndyHeap-NeoTech/neo4j-dotnet-driver and use the Neo4j.Driver.csproj as your dependency rather than the Nuget package..

[2020-08-18 09:05] #394 closed

[2020-08-18 09:11] samgerene commented on #437
@AndyHeap-NeoTech great news, i will try it later today and report back here

[2020-08-18 12:18] bcargill commented on #440
The branch seems to have fixed my issue.  Thanks!

[2020-08-18 12:18] #440 closed

[2020-08-18 12:49] AndyHeap-NeoTech commented on #440
That is great news. If the other tests pan out I will be releasing a minor version onto NuGet later today, version 4.1.1

[2020-08-20 13:39] AndyHeap-NeoTech commented on #437
Release 4.1.1 has now been made available on NuGet.  Thank you for your input and help.

[2020-08-20 13:39] #437 closed

[2020-08-20 13:39] AndyHeap-NeoTech commented on #440
Release 4.1.1 has now been made available on NuGet.  Thank you for your input and help.

[2020-08-20 13:47] AndyHeap-NeoTech commented on #436
Closing this issue. If you require further help then please reopen it.

[2020-08-20 13:47] #436 closed

[2020-08-21 07:55] samgerene commented on #437
I have verified with version 4.1.1 of the NuGet that it is now working as expected. Thanks a lot for the fix,

[2020-09-21 15:22] AndyHeap-NeoTech commented on #433
We have decided to keep the interfaces in the same assembly for the time being. Thank you for the suggestion.

[2020-09-21 15:22] #433 closed

[2020-11-03 13:20] simendsjo opened #453 "netstandard2.0 references projects which is invalid for netframework"
Assemblies which has been added out-of-band to nuget, should not be referenced for netframework projects. As netstandard2.0 is usef for both netcore and netframework, adding such assemblies to netstandard, will break netframework projects. The versions referenced, will not be the same versions as those included in netframework, so tools will generate wrong binding redirects for instance. These out

[2020-11-04 06:44] simendsjo commented on #453
FYI, a similar and related discussion is ongoing in Neo4jClient: https://github.com/DotNet4Neo4j/Neo4jClient/issues/383

[2020-11-04 08:31] AndyHeap-NeoTech commented on #453
Thanks simensjo. I will take a look and bring myself up to speed.

[2021-01-12 07:54] simendsjo commented on #453
I'd like to raise this issue again. Specifying nuget versions of framework assemblies is problematic as versions doesn't line up properly. As an example, you reference "System.Runtime.InteropServices.RuntimeInformation" version 4.3. If you look at the assembly for net45 inside the nupkg, you'll see the assembly has version  4.0.1.0. But when using your library in a netframework project, the framew

[2021-01-14 12:34] simendsjo commented on #453
Anything I can do to help? The fix should be trivial by adding a section for netframework and not adding any packages, but I suspect it needs to be done in some of your internal systems?

[2021-01-14 15:17] AndyHeap-NeoTech commented on #453
Hi. I will put some time to one side to take a look at this in the next few days. We prioritised some internal feature work that we needed to do for the next release, but I can move this up the list.

[2021-04-14 21:47] hkelley opened #499 ""Unrecognized escape sequence" when using driver in Powershell via Add-Type"
I don't know if this is related to #453 or not.  I ran into some of the netstandard errors while trying random combinations of package installations commands.

Steps to repro in Powershell 5 on Windows 10.
[code]

Powershell 5 Add-Type returns this error:
[code]

Pwsh.exe returns this

[code]

$PSVersionTable
[code]

[2021-04-15 10:41] fbiville commented on #499
@hkelley did you find a solution?

[2021-04-15 10:58] hkelley commented on #499
I did,  This seems to work in Powershell 5 and 7.

[code]

[2021-05-19 22:53] hkelley commented on #499
When I deployed the script to another host I went back to getting these errors:

[code]

Error:
[code]

[2021-05-19 22:54] hkelley commented on #453
@simendsjo ,  do you have a workaround for this?

[2021-05-19 23:55] hkelley commented on #499
Upgraded to .NET Framework 4.8.  Seems to have resolved it.

[2021-05-19 23:55] #499 closed

[2021-06-16 17:26] simendsjo commented on #453
Sorry for the late reply. The workaround is very manual. I download the nupkg (which is just a zip), fix the broken nuspec file (see previous reply), and add the package to an internal nuget repository.

[2021-07-29 18:55] btull89 commented on #254
+1
Typically all async methods should support cancellation tokens. This allows the user or api client to cancel the request on a long running query. This also helps when restarting instances of microservices when a long running query may be blocking a restart.

Since this issue has been closed should I open another issue for this feature?

[2021-08-02 16:15] AndyHeap-NeoTech commented on #254
Hi @btull89. Because we write and maintain drivers across several languages there has traditionally been a requirement to try and have a degree of uniformity across the API surfaces. I believe this is the original reason for not implementing the cancellation tokens way back when. However we are in early discussions on the possibility of introducing more idiomatic patterns and usages for each langu

[2021-08-02 16:23] btull89 commented on #254
Thank you @AndyHeap-NeoTech ! I will open up a feature request.

Also, I'm happy to hear that you are considering introducing more idiomatic patterns and usages for each language! There is a lot of boilerplate code that can be removed if that approach was taken.

[2021-08-02 16:25] btull89 opened #548 "Feature Request: CancellationToken Support"
Most async methods should support cancellation tokens.
This allows the user or api client to cancel the request on a long running query.
CancellationToken usage also helps when restarting instances of microservices when a long running query may be blocking a restart.

[2021-09-22 10:15] DarthSonic opened #557 "Assembly "Neo4jClient" uses a higher version than the referenced assembly "Neo4j.Driver""
When I update the driver package from 4.3.1 to 4.3.2 I get the following exception:

`Error CS1705: Assembly "Neo4jClient" mit Identität "Neo4jClient, Version=4.1.15.0, Culture=neutral, PublicKeyToken=null" verwendet "Neo4j.Driver, Version=4.3.67.1, Culture=neutral, PublicKeyToken=b646bc66d277ac07" mit einer höheren Version als die referenzierte Assembly "Neo4j.Driver" mit Identität "Neo4j.Driver,

[2021-09-22 10:35] DarthSonic commented on #557
Okay. Found solution:

[2021-09-22 10:37] AndyHeap-NeoTech commented on #557
Hi, thanks for posting the follow up solution.

[2021-09-22 10:37] #557 closed

[2021-09-22 11:02] DarthSonic commented on #557
I think there is still a problem:
https://github.com/DotNet4Neo4j/Neo4jClient/issues/421

It seems to be a wrong version number in 4.3.1 that is fixed in 4.3.2 but then does break current neo4jclient.

[2022-03-09 12:55] awatertrevi opened #595 "Xamarin.iOS AuraDB -> CertificateUnknown"
I am creating an iOS application (which allows for access to your Neo4j databases on the go).

![image](https://user-images.githubusercontent.com/16825568/157445459-7d576888-b781-428a-87b0-c2072eeafa73.png)
![image](https://user-images.githubusercontent.com/16825568/157445502-0108cf5f-138e-42f3-9d36-2a3353e4d750.png)

It works great when connecting via Bolt to a database without SSL connection.

W

[2022-03-12 16:47] thelonelyvulpes commented on #595
Good afternoon,
I've been looking into this and I can recreate the issue. When you use `+s` in the schema it provides SSL Configuration to the driver which defaults our certificate validation (TrustManager) to (https://github.com/neo4j/neo4j-dotnet-driver/blob/fcd0495488564a22bf8a787b390d83ddb52a3b94/Neo4j.Driver/Neo4j.Driver/Internal/Connector/Trust/ChainTrustManager.cs).

For whatever reason it

[2022-03-14 10:47] thelonelyvulpes commented on #595
I continued to look over this this weekend, I have been experimenting with writing a trust manager that should work for iOS.
[code]
This creates a chain and responds the certificate is valid for me, I've been looking through Apples docs on x509 cert validation but it's quite terse so I can't comment on how secure this method is currently, though apple states this is a standard predefined policy (h

[2022-03-14 23:09] awatertrevi commented on #595
Thanks this works great!

[2022-03-14 23:09] #595 closed

[2022-03-27 22:04] WhatzGames opened #601 "[Types] Use DateOnly and TimeOnly"
For the Cyphertypes Date and time there are matching types in .net 6.
Considering an upgrade DateOnly and TimeOnly could be used to to reflect these types.

[2022-05-17 16:03] Thypari opened #614 "Issues with .net framework 4.7.2."
Hey,

I migrated from neo4j 3.5.20 to 4.4.6. The db itself runs fine and is accessible via browser but when trying to connect with the neo4j dotnet driver I get the following exception:

I am using `.net framework 4.7.2` and the latest neo4j dotnet driver nuget package 4.4.0. This is the connection code:

[code]

This is the part which I don't understand:

System.Net.Sockets should be provided by

[2022-05-18 09:12] thelonelyvulpes commented on #614
Hi @Thypari.

I can recreate the issue, I'll look into it, and get back to you soon.

thanks

[2022-05-18 10:12] thelonelyvulpes commented on #614
Hi @Thypari.

I managed to recreate the issue by setting my .NET framework to 4.7.1. doing a build then going to 4.7.2 then doing a build, when I did that I got the same error as yourself.
while on 4.7.2 I did a solution clean, restore and build it went back to working, could you try that?

[2022-05-18 12:02] thelonelyvulpes commented on #453
Hi I believe this issue was resolved with 4.3.0 release.
https://www.nuget.org/packages/Neo4j.Driver/4.3.0

[2022-05-18 12:02] #453 closed

[2022-05-18 13:27] Thypari commented on #614
I tried cleaning, restore and build. Unfortunately I get the same error. I will try to delete all the `bin `folders and `.vs` folders next. Thank you for your help, I'll let you know if this will resolve my issue.

EDIT: Can you share some information with me? When you were able to solve the issue, did the System.Net.Sockets.dll exist in your debug folder after building?

[2022-05-18 14:15] Thypari commented on #614
I failed to solve the issue unfortunately:
I tried:

* Clean, restore and build
* Delete all bin, obj and .vs directories
* Cleared nuget cache
* Upgrading all projects to .net framework 4.8

Here is some additional information. I am building x64 explicitly. I am using VS 2019 Pro.

Any ideas what I can try next?

EDIT: Can you share some information with me? When you were able to solve the issue,

[2022-05-18 15:44] Thypari commented on #614
Okay I was finally able to fix it. In one of my 200 projects in this solution was a binding redirect for system.net.sockets to version 4.1.1.0. No idea how this was introduced... After removing it, I could connect to the db!

[2022-05-18 15:44] #614 closed

[2022-05-18 15:51] thelonelyvulpes commented on #614
@Thypari I'm glad to hear, binding redirects were going to be my next suggestion.

[2022-05-30 14:46] thelonelyvulpes commented on #601
Hi @WhatzGames I have added the types in our net6 upgrade

Kind regards.

[2022-05-30 20:32] WhatzGames opened #617 "System.Text.Json support"
I know that there is no direct type for JSON content, but I think it would be a great addition to support translation to the Json Namespace.

Both JsonDocument and JsonNodes should be considered then.

[2022-05-30 20:34] WhatzGames commented on #548
Would also love to see them getting implemented

[2022-09-24 04:16] kzhui125 opened #643 "Error when disposing unclosed transaction in session"
**Neo4j Version:** 4.4.6 Enterprise
**Neo4j Mode**: Single instance
**Driver version**: .NET driver 5.0.0
**dotnet**: 6.0

### Steps to reproduce

1. Run a query with `await session.ExecuteReadAsync(Work)`.
2. when the function returns, because of the `await using session =` statement, so `DisposeAsync` is called.
3. I get exception
4. I can't reproduce now.

### Actual behavior

I get exception:

[2022-09-25 14:51] kzhui125 commented on #643
another exception

[code]

[2022-09-27 17:19] kzhui125 commented on #643
[code]

because the break line, cause session dispose before transaction dispose

it's not neo4j driver bug...

[2022-09-27 17:19] #643 closed

[2022-10-10 14:25] MPasadu opened #647 "General question regarding cypher error detection in multiple transactions"
Hey neo4jdriver team,

I've just recently updated to the latest neo4j version and .net driver version.
When having one large transaction with multiple WriteTransactions and there is a single exception thrown, the exception shows up when the transaction is committed at the very end. So e.g. errors in cyphers are thrown in one exception at the end. You can't see which WriteTransaction actually has t

[2022-10-12 09:06] thelonelyvulpes commented on #647
Hi @MPasadu,
I'll try to give you some help but it will be easier to debug with some concrete code, so if you could share what it looks like without the actual cypher that'd be great.

When you do a write, you should consume the cursor that is returned by the `IAsyncTransaction.Run` This should immediately surface any errors from a query.

[code]

I hope this helps.

[2022-10-12 22:49] MPasadu commented on #647
Hey @thelonelyvulpes
thanks for this. I guess it's an issue with our legacy code. We have joined neo4j very early on and are still using the synchronous library duo to the huge size of the codebase.

It's basically build like this:

[code]

So the transactions are chained together. When one fails all is reverted back. But it also means the error only surfaces when it went through all of the code.

[2022-10-12 22:50] MPasadu commented on #647
EDIT: Accidentally hit the close issue button. Sorry.

[2022-10-12 22:50] MPasadu commented on #647
EDIT: Accidentally hit the close issue button.

[2022-10-13 09:27] thelonelyvulpes commented on #647
@MPasadu the synchronous library also exposes a consume method for the cursors.
[code]

[2022-10-14 11:23] MPasadu commented on #647
@thelonelyvulpes

Thank you! This seems to be what I was missing. Is this considered best practice when dealing with lots of chained cyphers in a  synchronous way?

[2022-10-14 20:31] thelonelyvulpes commented on #647
If you want to commit all or nothing this is absolutely the way to go.

[2022-10-16 02:53] MPasadu commented on #647
Thanks for the help!

[2022-10-16 02:53] #647 closed

[2022-10-25 10:54] Aaronmsv opened #653 ""Routing table is updated" info log on every transaction"
Hi,

Every time I execute a transaction the following information log gets printed:

[code]
Is this normal?

**Neo4j Version:** 5.1.0  Community
**Neo4j Mode**: Single instance
**Driver version**: .NET driver 5.1.0
**Operating System:** Linux 6.0.2-arch1-1 x86_64

[2022-10-26 15:01] thelonelyvulpes commented on #653
If you are using a single instance you can specify the bolt scheme and this will avoid this issue.
You need to specify which database you are attempting to connect to when opening a session.

If you are still seeing this message after setting the database on the open of a session please share anything you can.

[2022-10-27 16:15] thelonelyvulpes commented on #601
@WhatzGames, these types are now available in 5.X drivers.

[2022-11-03 12:42] Aaronmsv commented on #653
Hi @thelonelyvulpes,

Indeed, when using `bolt://localhost` instead of `neo4j://localhost` as URI, then the log doesn't get printed anymore. I'll also update the code to specify the database.

Thanks.

[2022-11-03 12:55] thelonelyvulpes commented on #653
Glad to hear it is resolved.
Going to close this issue out, If you need further assistance please re-open it.

[2022-11-03 12:55] #653 closed

[2022-11-24 11:01] Aaronmsv opened #658 "Weird exception handling when using `RunAsync` directly on a session"
Hi,

I've come across some weird exception handling when using `RunAsync` directly on a session. I was writing an integration test that expected a `ClientException` because of unique constraint and that's where I encountered the issue. There's no exception coming from `RunAsync`, but the test does crash later on. I would guess that the query is executed on another thread, which causes the exceptio

[2022-11-24 11:34] AndyHeap-NeoTech commented on #658
Hi Aaronmsv.
session.RunAsync returns a IResultCursor which represents the results stream. The error will only surface/throw when you fetch from that stream. In your test the correct thing to do is consume the result cursor.

`var resultCursor = await session.RunAsync(query, parameters);
resultCursor.Consume();`

I suspect crash you are seeing currently is occuring when the result cursor returned

[2022-11-24 13:09] Aaronmsv commented on #658
Ah I see. So in general, when using `session.RunAsync`, you are responsible for the result cursor; and when you use `ExecuteWriteAsync`, then it handles the result cursor for you (although both methods return `IResultCursor`)?

Is it best to always do `resultCursor.Consume();`?

[2022-11-24 14:29] AndyHeap-NeoTech commented on #658
I wouldn't describe it as ExecuteWriteAsync is handling the cursor for you, it is just scoped differently as it is with in the callback lambda that you supply. We consider it best practice to call Consume when finished using a result cursor, even in the ExecuteRead/ExecuteWrite methods.

[2022-11-25 09:41] AndyHeap-NeoTech commented on #658
I'll close the issue. Please feel free to re-open if needed.

[2022-11-25 09:41] #658 closed